<section class="cycle-slider-home">
    <div class="slide" ng-repeat="slide in slides" home-slider>
        <a class="href" href="{{slide.targetUrl}}"><img alt="" src="{{slide.picture}}"/></a>
    </div>

    <div class="cycle-pager"></div>
</section>

<section class="home">
    <div class="container">
        <div class="row">
            <h2 class="section-title">Les nouvelles</h2>
        </div>
    </div>

    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in recentStartupList" startup-slider>
                <div class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ ::remoteHost }}/{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                         alt="{{ startup.startupName }}">
                </div>
                <div class="mask">
                    <h4 class="title">{{ startup.startupName }}</h4>
                    <div class="tag-list">
                        <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                            #{{ tag }}
                        </a>
                    </div>
                    <a class="btn btn-outline-primary text-center action"
                       href="#/startup/{{ startup._id }}/view">VOIR LA FICHE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="section-title">Les plus vues</h2>
        </div>
    </div>

    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in mostViewedStartupList" startup-slider>
                <div class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                         alt="{{ startup.startupName }}">

                    <div class="mask">
                        <h4 class="title">{{ startup.startupName }}</h4>

                        <div class="tag-list">
                            <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                                #{{ tag }}
                            </a>
                        </div>
                        <a class="btn btn-outline-primary text-center action"
                           href="#/startup/{{ startup._id }}/view">VOIR LA FICHE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="section-title">Les mieux notées</h2>
        </div>
    </div>
    <div class="startups-wrapper">
        <div class="startups-list" startup-slider>
            <div class="startup" ng-repeat="startup in bestScoreStartupList" startup-slider>
                <div class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                         alt="{{ startup.startupName }}">

                    <div class="mask">
                        <h4 class="title">{{ startup.startupName }}</h4>

                        <div class="tag-list">
                            <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                                #{{ tag }}
                            </a>
                        </div>
                        <a class="btn btn-outline-primary text-center action"
                           href="#/startup/{{ startup._id }}/view">VOIR LA FICHE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <h2 class="section-title">Les plus suivies</h2>
        </div>
    </div>
    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in mostBookmarkedStartupList" startup-slider>
                <div class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                         alt="{{ startup.startupName }}">

                    <div class="mask">
                        <h4 class="title">{{ startup.startupName }}</h4>

                        <div class="tag-list">
                            <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                                #{{ tag }}
                            </a>
                        </div>
                        <a class="btn btn-outline-primary text-center action"
                           href="#/startup/{{ startup._id }}/view">VOIR LA FICHE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="section-title">Les méconnues</h2>
        </div>
    </div>

    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in lessViewedStartupList" startup-slider>
                <div class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                         alt="{{ startup.startupName }}">

                    <div class="mask">
                        <h4 class="title">{{ startup.startupName }}</h4>

                        <div class="tag-list">
                            <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                                #{{ tag }}
                            </a>
                        </div>
                        <a class="btn btn-outline-primary text-center action"
                           href="#/startup/{{ startup._id }}/view">VOIR LA FICHE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>