<section class="cycle-slider" home-slider>
    <div class="slide bg-green">
        <div class="container">
            <img alt="" src="/data/slideshow/slide1.jpg" />
        </div>
    </div>

    <div class="slide bg-green">
        <div class="container">
            <img alt="" src="/data/slideshow/slide1.jpg" />
        </div>
    </div>

    <div class="cycle-pager"></div>
</section>

<section class="home">
    <div class="container">
        <div class="row">
            <h2 class="section-title">#Recentes</h2>
        </div>
    </div>

    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in recentStartupList">
                <a class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                </a>

                <h4 class="title">{{ startup.startupName }}</h4>
                <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                    #{{tag }}
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="section-title">#Trending</h2>
        </div>
    </div>

    <div class="startups-wrapper">
        <div class="startups-list">
            <div class="startup" ng-repeat="startup in trendingStartupList">
                <a class="thumbnail" href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                </a>

                <h4 class="title">{{ startup.startupName }}</h4>
                <a href="#/startup?tag={{ tag }}" class="tags" ng-repeat="tag in startup.tags">
                    #{{tag }}
                </a>
            </div>
        </div>
    </div>
</section>