<section class="container">
    <div class="row">


    <div class="inlinesearch">
        <div class="search-form">
            <form ng-submit="search(listStartup.searchName)" ng-controller="ListStartupCtrl as listStartup">
                <input class="url form-control hidden" name="website" ng-model="listStartup.searchName" type="text"
                       placeholder="Rechercher une start-up" ng-focus="{'navbar-main':top-navigation-default}"/>

                <angucomplete-alt
                                  placeholder="ex : winicar, #delivery, fintech …"
                                  pause="400"
                                  text-searching="..."
                                  text-no-results=""
                                  selected-object="searchAutocomplete"
                                  input-changed="searchAutocompleteCHG"

                                  focus-out="barBlurred()"
                                  remote-url="{{ ::remoteHost }}/api/crawler/autocomplete?q="
                                  remote-url-data-field="body"
                                  remote-url-response-formatter="appendMoreButtons"
                                  minlength="1"
                                  title-field="label"
                                  description-field="subLabel"

                                  input-class="url form-control"/>

                <input class="btn btn-primary hidden" type="submit" value="Rechercher">
            </form>
        </div>
    </div>


        <!-- heading -->
        <div class="heading">
            <h1 class="result-indicator">
                <!-- {{ searchTitle }} -->
            </h1>

            <div class="sort">
                <div class="dropdown">
                    <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Trier
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sort">
                        <li>
                            <a ng-click="sortByName()">Nom</a>
                            <a ng-click="sortByCreatedDate()">Date de création</a>
                            <a ng-click="sortByCreatedDate()">Les plus vues</a>
                            <a ng-click="sortByBookmarks()">Les plus bookmarkées</a>
                            <a ng-click="sortByNoteSip()">Les mieux notées</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="numb">{{ searchedStartups.length }} résultat(s)</div>
        </div>

        <!-- results -->
        <div class="results">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="startup in searchedStartups">

                        <!-- startup -->
                        <div class="startup-generic-card card fixed-card">
                            <div class="card-img-top">
                                <a href="#/startup/{{ startup._id }}/view">
                                    <img ng-src="{{ ::remoteHost }}{{ startup.picture ? startup.picture : (startup.mainTag ? ('/images/startup/thumbnail/' + startup.mainTag + '.jpg') : '/images/placeholder.jpg') }}"
                                         alt="{{ startup.picture }}">
                                </a>
                            </div>
                            <h4 class="card-title">{{ startup.startupName }}</h4>
                            <div class="card-link-section">
                                <a href="#/startup?tag={{tag}}" class="card-link text-info"
                                   ng-repeat="tag in startup.tags">
                                    #{{ tag }}
                                </a>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <!-- bottom -->
        <div class="bottom text-center">
            <ul class="pagination-list">
                <li>
                    <a class="previous" ng-click="prevPage()" ng-if="currentPage > 0">
                        <
                    </a>
                </li>
                <li>
                    <a class="active">
                        {{ currentPage + 1 }}
                    </a>
                </li>
                <li>
                    <a class="next" ng-click="nextPage()" ng-if="searchedStartups.length > 10">
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
