<section id="main" class="container">
    <div class="row">

        <div class="heading">
            <h1 class="result-indicator">
                {{ searchTitle }}
                <span class="numb">{{ searchedStartups.length }} résultat(s)</span>
            </h1>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="startup in searchedStartups">
            <div class="card fixed-card">
                <div class="card-img-top">
                    <a href="#/startup/{{ startup._id }}/view">
                        <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                    </a>
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ startup.startupName }}</h4>

                    <p class="card-text">{{ startup.tagline }}</p>
                    <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">#{{
                        tag }}</a>
                    <br/>
                    <a href="#/startup/{{ startup._id }}/view" class="btn btn-primary-outline"><i class="fa fa-eye"></i></a>
                    <a href="#/startup/{{ startup._id }}/edit" class="btn btn-primary-outline"><i
                            class="fa fa-edit"></i></a>

                    <button class="btn btn-danger pull-right" ng-click="deleteStartup(index)"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>