<section class="container">
    <div class="row">
        <!-- heading -->
        <div class="heading">
            <h1 class="result-indicator">
                {{ searchTitle }}
                <span class="numb">{{ searchedStartups.length }} résultat(s)</span>
            </h1>

            <div class="sort">
                <div class="dropdown">
                    <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Trier
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="sort">
                        <li>
                            <a ng-click="sortByName()">Nom</a>
                            <a ng-click="sortByCreatedDate()">Date de création</a>
                            <a ng-click="sortByCreatedDate()">Les plus vues</a>
                            <a ng-click="sortByBookmarks()">Les plus bookmarkées</a>
                            <a ng-click="sortByNoteSip()">Les mieux notées</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- results -->
        <div class="results">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="startup in searchedStartups">
                    <!-- startup -->
                    <div class="startup card fixed-card">
                        <div class="card-img-top">
                            <a href="#/startup/{{ startup._id }}/view">
                                <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                            </a>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{ startup.startupName }}</h4>

                            <p class="card-text">
                                {{ startup.tagline }}
                            </p>

                            <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">
                                #{{tag }}
                            </a>

                            <div class="button-wrapper">
                                <a class="btn btn-primary-outline" href="#/startup/{{ startup._id }}/view">
                                    Voir la fiche
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom -->
        <div class="bottom text-center">
            <ul class="pagination-list">
                <li>
                    <a class="previous" ng-click="prevPage()" ng-if="currentPage > 0">
                        <
                    </a>
                </li>
                <li>
                    <a class="active" >
                        {{ currentPage + 1 }}
                    </a>
                </li>
                <li>
                    <a class="next" ng-click="nextPage()" ng-if="searchedStartups.length > 12">
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>