<section class="container">
    <div class="row">
        <!-- heading -->
        <div class="heading">
            <h1 class="result-indicator">
                Liste des utilisateurs
            </h1>
<!--
            <div class="sort">
                <div class="dropdown">
                    <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Trier
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="sort">
                        <li>
                            <a href="#">
                                Dummy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>

        <!-- results -->
        <div class="results">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.isActive ? 'Activé' : 'Non activé' }}</td>
                        <td>{{ user.roles }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info btn-xs" ng-click="activateUser($index)"> ACTIVATE</button>
                                <button class="btn btn-primary btn-xs" ng-click="editUser($index)" data-toggle="modal" data-target="#AdminUserProfileModal"> EDIT</button>
                                <button class="btn btn-danger btn-xs" ng-click="deleteUser($index)"> DELETE</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div id="AdminUserProfileModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true" class="fa-3x">&times;</span></button>
                    <h4 class="modal-title">Editer le profil</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-xs-6"
                             ng-class="{ 'has-error': form.lastname.$dirty && form.lastname.$error.required }">
                            <label for="lastname">Nom</label>
                            <input type="text" name="lastname" id="lastname" class="form-control"
                                   ng-model="currentUser.lastname"
                                   required/>
                            <span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="help-block">Last name is required</span>
                        </div>

                        <div class="form-group col-xs-6"
                             ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                            <label for="firstname">Prénom</label>
                            <input type="text" name="firstname" id="firstname" class="form-control"
                                   ng-model="currentUser.firstname"
                                   required/>
                        <span ng-show="form.firstname.$dirty && form.firstname.$error.required"
                              class="help-block">Obligatoire</span>
                        </div>

                        <div class="form-group col-xs-12"
                             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="email">Role</label>
                            <select multiple name="roles" id="roles" class="form-control" ng-model="currentUser.roles"
                                    required>
                                <option value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block"></span>
                        </div>

                        <div class="form-group col-xs-12"
                             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="email">Adresse E-mail</label>
                            <input type="text" name="email" id="email" class="form-control"
                                   ng-model="globals.user.email"
                                   required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">L'adresse E-mail est obligatoire</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="branche">Branche</label>
                            <input type="text" name="branche" id="branche" class="form-control"
                                   ng-model="currentUser.branch"
                                   required/>
                            <span ng-show="form.branch.$dirty && form.branch.$error.required" class="help-block"></span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.company.$dirty && form.company.$error.required }">
                            <label for="email">Société</label>
                            <input type="text" name="company" id="company" class="form-control"
                                   ng-model="currentUser.company"
                                   required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">L'adresse E-mail est obligatoire</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.company.$dirty && form.company.$error.required }">
                            <label for="email">Fonction</label>
                            <input type="text" name="role" id="function" class="form-control"
                                   ng-model="currentUser.role"
                                   required/>
                            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">La fonction est obligatoire</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-primary" type="button" ng-click="updateUser()"
                            data-dismiss="modal">Enregister
                    </button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>