<div class="splash">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
                <form id="home-form" class="home-form" action="">
                    <h1>SOUMETTRE UNE START-UP</h1>

                    <h2>Première étape, donnez-nous l’url de la start-up. Cela nous permettra de préremplir le
                        formulaire et de vous faciliter la tâche.</h2>

                    <div class="input-zone">
                        <input class="url form-control" name="website" type="text" placeholder="www.urldelastartup.com"/>
                        <button class="btn btn-primary round-corners submit-search" data-loading="Chargement">RECHERCHER</button>
                    </div>
                </form>
                <div class="row">

                </div>
            </div>
        </div>

    </div>
</div>