<!DOCTYPE html>
<html>
<head>
    <title>Yellow Starter</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon" type="image/x-icon"/>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <link rel="stylesheet" href="/js/bower_components/angular-xeditable/dist/css/xeditable.min.css">
    <link rel="stylesheet" href="/js/bower_components/dropzone/downloads/css/dropzone.css">
    <link rel="stylesheet" href="/js/bower_components/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="/js/bower_components/angular-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="/js/bower_components/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="/js/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/js/bower_components/jqcloud2/dist/jqcloud.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
</head>

<body ng-app="startApp" class="<%= locals.page && page.class ? page.class : '' %>  {{ $state.current.name }} "
      ng-class="{unlocked: unlocked}"
      id="<%= locals.page && page.id ? page.id : '' %>">
<!-- loading-screen -->
<div class="loading-screen" ng-class="{fade: startFade}" loading-screen>
    <img src="/images/icons/loading.gif" width="64" />
</div>

<!-- login -->
<div class="top-navigation top-navigation-login navbar navbar-default navbar-fixed-top" ng-if="['user-register','user-reset'].indexOf($state.current.name) !== -1">
    <div class="container">
        <a href="#/" class="brand">
            <img src="/images/logo.png" alt="Yellow Starter"/>
        </a>

        <form class="form-login form-inline" ng-controller="RegisterCtrl as Register"
              ng-submit="login(Register.email, Register.password)">
            <input class="url form-control" name="email" ng-model="Register.email" type="email" required
                   placeholder="Adresse email"/>
            <input class="url form-control" name="password" ng-model="Register.password" type="password" required
                   placeholder="Mot de passe"/>

            <button class="btn btn-primary" type="submit">Connexion</button>
            <button class="btn btn-link" type="button" ng-click="resetPassword()">Mot de passe oublié ?</button>
        </form>
    </div>
</div>

<!-- default -->
<div id="navbar-main" class="top-navigation top-navigation-default navbar navbar-default navbar-fixed-top" ng-if="['user-register','user-reset'].indexOf($state.current.name) === -1">
    <div class="container">
        <a href="#/" class="brand">
            <img src="/images/logo.png" alt="Yellow Starter"/>
        </a>

        <div class="search-form">
            <form ng-submit="search(listStartup.searchName)" ng-controller="ListStartupCtrl as listStartup">
                <button class="btn btn-link" type="submit">
                    <i class="icon icon-search"></i>
                </button>

                <input class="url form-control hidden" name="website" ng-model="listStartup.searchName" type="text"
                       placeholder="Rechercher une start-up"/>

                <angucomplete-alt id="search"
                                  placeholder="Rechercher une start-up"
                                  pause="400"
                                  text-searching="..."
                                  text-no-results=""
                                  selected-object="searchAutocomplete"
                                  input-changed="searchAutocompleteCHG"
                                  remote-url="{{ ::remoteHost }}/api/crawler/autocomplete?q="
                                  remote-url-data-field="body"
                                  minlength="1"
                                  title-field="label"
                                  description-field="type"
                                  input-class="url form-control"/>
            </form>
        </div>

        <ul id="navigation" class="navigation">
            <li class="dropdown" ng-class="{dropdown: globals.user.roles.indexOf('ADMIN') !== -1}" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
                <a id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fadeOut>
                    <i class="icon icon-account"></i>

                    Mon profil
                </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
                        <li>
                            <a href="#/user/profile" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
                                <i class="icon icon-account"></i>
                                Mon profil
                            </a>
                        </li>

                        <li>
                            <a href="#/admin" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
                                <i class="icon icon-settings"></i>
                                Administration
                            </a>
                        </li>
                    </ul>
            </li>
            <li class="" ng-show="globals.user.roles.indexOf('ADMIN') === -1">
                <a id="favorites" href="#/user/profile" aria-haspopup="true" aria-expanded="true" fadeOut>
                    <i class="icon icon-account"></i>
                    Mon profil
                </a>
            </li>
            <li class="">
                <a id="favorites" aria-haspopup="true" aria-expanded="true" fadeOut>
                    <i class="icon icon-favorite"></i>
                    Mes favoris
                </a>
            </li>
            <li class="dropdown notifications">
                <a ng-click="clearNotifications()" fadeOut id="notificationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fadeOut>
                    <div class="icon">
                        <span class="badge blue">{{ notifications.length || 0 }}</span>
                    </div>
                    Mes notifications
                </a>

                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
                    <li ng-repeat="notif in notifications" ng-if="notifications.length > 0">
                        <a href="#{{ notif.url }}" class=" text-left"> <i class="fa fa-info text-info"></i> - {{ notif.label }} </a>
                    </li>
                    <li ng-if="!notifications || notifications.length < 1" class="dropdown-header">
                        <i class="fa fa-info text-info"></i> Pas de notifications
                    </li>
                </ul>

            </li>
            <li class="orange">
                <a href="#/startup/new" fadeOut>
                    <i class="icon icon-add"></i>

                    Ajouter une start-up
                </a>
            </li>
            <li>
                <a ng-click="logout()" ng-controller="RegisterCtrl"> <i class="icon icon-arrowRight"></i>Déconnexion</a>
            </li>
        </ul>

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>

<div ui-view class="page {{ pageClass }}"></div>
<!--

<div class="row" id="results-section">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-controller="SearchStartupCtrl" ng-repeat="startup in searchedStartups">
        <div class="card fixed-card">
            <div class="card-img-top">
                <a href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                </a>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ startup.startupName }}</h4>

                <p class="card-text">{{ startup.tagline }}</p>
                <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">#{{ tag }}</a>
                <br/>
                <a href="#/startup/{{ startup._id }}/view" class="btn btn-primary-outline"><i class="fa fa-eye"></i></a>
                <a href="#/startup/{{ startup._id }}/edit" class="btn btn-primary-outline"><i
                            class="fa fa-edit"></i></a>

                <button class="btn btn-danger pull-right" ng-click="deleteStartup(index)"><i
                            class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
-->

<!--

    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<footer class="footer">
    <div class="container">
        <p class="text-muted pull-left copyright">© La Poste 2016 – Tous droits réservés <br/>
            Mentions légales I Conditions générales d’utilisation</p>

        <img class="pull-right" src="/images/logo-laposte.png" height="40" alt="laposte"/>
    </div>
</footer>

<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/bower_components/jquery/dist/jquery.min.js">\x3C/script>')</script>
<script src="//maps.googleapis.com/maps/api/js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular.fr-FR.js"></script>


<!--<script src="/js/dependencies/sails.io.js"></script>-->
<script src="/js/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/js/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/js/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/js/bower_components/angular-route/angular-route.min.js"></script>
<script src="/js/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/js/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="/js/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="/js/bower_components/dropzone/downloads/dropzone.min.js"></script>
<script src="/js/bower_components/angular-dropzone/lib/angular-dropzone.js"></script>
<script src="/js/bower_components/angular-datepicker/dist/angular-datepicker.min.js"></script>
<script src="/js/bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
<script src="/js/bower_components/jquery.cycle2/index.js"></script>
<script src="/js/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="/js/bower_components/angular-jqcloud/angular-jqcloud.js"></script>
<script src="/js/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
<script src="/js/bower_components/js-info-bubble/src/infobubble.js"></script>

<script src="/js/bower_components/bootbox/bootbox.js"></script>
<script src="/js/bower_components/ngBootbox/dist/ngBootbox.min.js"></script>

<script type="text/javascript" src="/js/bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="/js/bower_components/angular-selectize2/dist/angular-selectize.js"></script>

<script src="/js/angular/app.modules.js"></script>
<script src="/js/angular/app.js"></script>
<script src="/js/angular/app.routes.js"></script>

<script src="/js/angular/modules/admin-home/list/list.controller.js"></script>
<script src="/js/angular/modules/admin-startup/list/list.controller.js"></script>
<script src="/js/angular/modules/admin-luna-startup/list/list.controller.js"></script>
<script src="/js/angular/modules/admin-user/list/list.controller.js"></script>

<script src="/js/angular/modules/startup/view/view.controller.js"></script>
<script src="/js/angular/modules/startup/edit/edit.controller.js"></script>
<script src="/js/angular/modules/startup/list/list.controller.js"></script>
<script src="/js/angular/modules/startup/tagcloud/tagcloud.controller.js"></script>
<script src="/js/angular/modules/startup/search/search.controller.js"></script>

<script src="/js/angular/modules/user/reset/reset.controller.js"></script>
<script src="/js/angular/modules/user/register/register.controller.js"></script>
<script src="/js/angular/modules/user/profile/profile.controller.js"></script>

<script src="/js/angular/modules/common/resources.js"></script>
<script src="/js/angular/modules/common/startup.service.js"></script>
<script src="/js/angular/modules/common/notification.service.js"></script>
<script src="/js/angular/modules/common/authentication.service.js"></script>
<script src="/js/angular/modules/common/authinterceptor.service.js"></script>
<script src="/js/angular/modules/common/user.service.js"></script>
<script src="/js/angular/modules/common/utils.service.js"></script>


<script src="/js/dependencies/homepage.js"></script>
<script src="/js/dependencies/main.js"></script>
</body>
</html>
