<section class="container">
    <div class="row">
        <!-- heading -->
        <div class="heading">
            <h1 class="result-indicator">
                Liste des start-ups
                <div class="pull-right">
                    <form ng-submit="search()" class="form-inline">
                    <input class="form-control" type="text" ng-model="searchInput" placeholder="Rechercher..."/>
                        <button class="btn btn-link"><i class="fa fa-search fa-2x"></i></button>
                    </form>
                </div>
            </h1>
<!--
            <div class="sort">
                <div class="dropdown">
                    <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Trier
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="sort">
                        <li>
                            <a href="#">
                                Dummy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>-->

        </div>

        <!-- results -->
        <div class="results">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Startup Name</th>
                        <th>Tags</th>
                        <th>Creation date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="startup in startups track by startup._id">
                        <td>{{ startup.startupName  }}</td>
                        <td>{{ startup.tags.join(' , ') }}</td>
                        <td>{{ startup.createdAt | date : longDate }}</td>
                        <td>
                            <span class='text-success' ng-if="startup.status == 'published'">Publié</span>
                            <span class="text-warning" ng-if="startup.status != 'published'">Brouillon</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-xs" href="#/startup/{{ startup._id }}/view">VIEW</a>
                                <a class="btn btn-warning btn-xs" href="#/startup/{{ startup._id }}/edit">EDIT</a>
                                <button class="btn btn-danger btn-xs" ng-click="deleteStartup($index)"> DELETE</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- bottom -->
        <div class="bottom text-center">
            <ul class="pagination-list">
                <li>
                    <a class="previous" ng-click="prevPage()" ng-if="currentPage > 0">
                        <
                    </a>
                </li>
                <li>
                    <a class="active" href="#">
                        {{ currentPage + 1 }}
                    </a>
                </li>
                <li>
                    <a class="next" ng-click="nextPage()" ng-if="startups.length > 11">
                        >
                    </a>
                </li>
            </ul>
        </div>


        <div id="startupProfileModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true" class="fa-3x">&times;</span></button>
                        <h4 class="modal-title">Detail de la startup</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>