<section class="splash small container-fluid">
    <div class="container">
        <!-- user -->
        <div class="user">
            <!-- avatar -->
            <div class="avatar">
                <a data-target="#userProfileModal" data-toggle="modal" class="overlay">
                    Editer ma photo de profil
                </a>
                <img class="picture" alt="{{ globals.user.firstname }}" src="{{ globals.user.picture  ?  globals.user.picture : 'http://dummyimage.com/230x230/cecece/ffffff&text=Ajouter' }}" />
                <img class="status" alt="" src="http://dummyimage.com/80x80/ff6500/ffffff?text={{ globals.user.branch }}" />
            </div>

            <!-- data -->
            <div class="data">
                <h1 class="name">{{ globals.user.firstname }} {{ globals.user.lastname }}</h1>
                <p>
                    {{ globals.user.role }} {{ globals.user.company }} - {{ globals.user.roles[0] }}
                </p>
                <p>
                    {{ globals.user.email }}
                </p>
                <p>
                    {{ globals.user.phonenumber }}
                </p>
            </div>

            <!-- actions -->
            <div class="actions">
                <button class="btn btn-alternate" data-target="#userProfileModal" data-toggle="modal">
                    <i class="fa fa-cog"></i>
                    Editer mon profil
                </button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <!-- starred projets -->
        <div class="starredProjects">
            <!-- heading -->
            <div class="heading">
                <h1 class="title">
                    Projets suivis

                    <img alt="" src="/images/icons/star-alt.png" />
                </h1>

                <div class="sort">
                    <div class="dropdown">
                        <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Trier
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="sort">
                            <li>
                                <a ng-click="sortByName()">Nom</a>
                                <a ng-click="sortByCreatedDate()">Date de création</a>
                                <a ng-click="sortByCreatedDate()">Les plus vues</a>
                                <a ng-click="sortByBookmarks()">Les plus bookmarkées</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- results -->
            <div class="results">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="startup in starredStartups">
                        <!-- startup -->
                        <div class="startup card fixed-card">
                            <div class="card-img-top">
                                <a href="#/startup/{{ startup._id }}/view">
                                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">{{ startup.startupName }}</h4>

                                <div class="card-link-section">
                                <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">
                                    #{{tag }}
                                </a>
                                </div>
                                <div class="button-wrapper">
                                    <a class="btn btn-primary-outline" href="#/startup/{{ startup._id }}/view">
                                        Voir la fiche
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="userProfileModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true" class="fa-3x">&times;</span></button>
                    <h4 class="modal-title">Editer mon profil</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="">
                                <label for="">Image de profil</label>
                            </div>
                            <form class="dropzone"
                                  method="post"
                                  enctype="multipart/form-data"
                                  ng-dropzone
                                  dropzone="pictureZone.dropzone"
                                  dropzone-config="pictureZone.dropzoneConfig"
                                  event-handlers="{ 'addedfile': pictureZone.addedFile, 'error': pictureZone.error,
                                       'success': pictureZone.success }">
                                <input type="hidden" name="_id" value="{{ startup._id }}"/>
                            </form>
                        </div>
                        <div class="form-group col-xs-6"
                             ng-class="{ 'has-error': form.lastname.$dirty && form.lastname.$error.required }">
                            <label for="lastname">Nom</label>
                            <input type="text" name="lastname" id="lastname" class="form-control"
                                   ng-model="globals.user.lastname"
                                   required/>
                            <span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="help-block">Last name is required</span>
                        </div>

                        <div class="form-group col-xs-6"
                             ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                            <label for="firstname">Prénom</label>
                            <input type="text" name="firstname" id="firstname" class="form-control"
                                   ng-model="globals.user.firstname"
                                   required/>
                        <span ng-show="form.firstname.$dirty && form.firstname.$error.required"
                              class="help-block">Obligatoire</span>
                        </div>


                        <div class="form-group col-xs-12"
                             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="email">Adresse e-mail</label>
                            <input type="text" name="email" id="email" class="form-control"
                                   ng-model="globals.user.email"
                                   required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">L'adresse email est obligatoire</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="branche">Branche</label>
                            <input type="text" name="branche" id="branche" class="form-control"
                                   ng-model="globals.user.branch"
                                   required/>
                            <span ng-show="form.branch.$dirty && form.branch.$error.required" class="help-block"></span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.company.$dirty && form.company.$error.required }">
                            <label for="email">Société</label>
                            <input type="text" name="company" id="company" class="form-control"
                                   ng-model="globals.user.company"
                                   required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">L'adresse email est obligatoire</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.company.$dirty && form.company.$error.required }">
                            <label for="email">Fonction</label>
                            <input type="text" name="role" id="function" class="form-control"
                                   ng-model="globals.user.role"
                                   required/>
                            <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">La fonction est obligatoire</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   ng-model="globals.user.password"
                                   required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Le mot de passe est obligatoire</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-primary" type="button" ng-click="updateProfile()"
                            data-dismiss="modal">Enregister
                    </button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>