<section class="splash small container-fluid">
    <div class="container">
        <!-- user -->
        <div class="user">
            <!-- avatar -->
            <div class="avatar">
                <a data-target="#userProfileModal" data-toggle="modal" class="overlay">
                    Editer ma photo de profil
                </a>
                <img class="picture" alt="{{ globals.user.firstname }}" src="{{ globals.user.picture }}" />
                <img class="status" alt="" src="http://dummyimage.com/80x80/ff6500/ffffff" />
            </div>

            <!-- data -->
            <div class="data">
                <h1 class="name">{{ globals.user.firstname }} {{ globals.user.lastname }}</h1>
                <p>
                    {{ globals.user.role }} {{ globals.user.company }} - {{ globals.user.roles[0] }}
                </p>
                <p>
                    {{ globals.user.email }}
                </p>
                <p>
                    {{ globals.user.phonenumber }}
                </p>
            </div>

            <!-- actions -->
            <div class="actions">
                <button class="btn btn-alternate" data-target="#userProfileModal" data-toggle="modal">
                    <i class="fa fa-cog"></i>
                    Editer mon profil
                </button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <!-- starred projets -->
        <div class="starredProjects">
            <!-- heading -->
            <div class="heading">
                <h1 class="title">
                    Projets suivis

                    <img alt="" src="/images/icons/star-alt.png" />
                </h1>

                <div class="sort">
                    <div class="dropdown">
                        <button class="btn btn-primary-alternate dropdown-toggle" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Trier
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="sort">
                            <li>
                                <a ng-click="sortByName()">Nom</a>
                                <a ng-click="sortByCreatedDate()">Date de création</a>
                                <a ng-click="sortByCreatedDate()">Les plus vues</a>
                                <a ng-click="sortByBookmarks()">Les plus bookmarkées</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- results -->
            <div class="results">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="startup in starredStartups">
                        <!-- startup -->
                        <div class="startup card fixed-card">
                            <div class="card-img-top">
                                <a href="#/startup/{{ startup._id }}/view">
                                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">{{ startup.startupName }}</h4>

                                <p class="card-text">
                                    {{ startup.tagline }}
                                </p>

                                <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">
                                    #{{tag }}
                                </a>

                                <div class="button-wrapper">
                                    <a class="btn btn-primary-outline" href="#/startup/{{ startup._id }}/view">
                                        Voir la fiche
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>