<section class="splash medium">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img class="logo" ng-src="{{ startup.picture}}"/>

                <h1 class="title">
                    {{ startup.startupName}}
                </h1>

                <h2 class="subtitle">
                    {{ startup.tagline }}
                </h2>

                <ul class="startup-tags">
                    <li class="tag" ng-repeat="tag in startup.tags">
                        <a href="#/startup?tag={{ tag }}">#{{ tag }}</a>
                    </li>
                </ul>

                <div class="actions">
                    <div ng-click="bookmarkStartup()" class="action">
                        <i ng-class="{'icon-favoriteAdd': !isBookmarked, 'icon-favoriteCheck': isBookmarked}"></i>

                        <div class="text-lock">
                            <span ng-if="isBookmarked == 0">Suivre</span>
                            <span ng-if="isBookmarked == 1">Suivi</span>
                        </div>
                    </div>
                    <a class="action btn" href="#/startup/{{startup._id}}/edit" data-toggle="modal"
                       ng-show="startup.status === 'draft' || globals.user.roles.indexOf('ADMIN') !== -1">
                        <i class="fa fa-edit"></i>

                        <div class="text-lock">Editer</div>
                    </a>
                    <a class="action btn" data-target="#commentModal" data-toggle="modal"
                       ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
                        <i class="fa fa-comment-o"></i>

                        <div class="text-lock">Commenter</div>
                    </a>
                    <a class="action btn" data-toggle="modal" data-target="#documentsModal">
                        <span class="count">{{ startup.documents.length }}</span>

                        <div class="text-lock">Documents</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-target="#resume" aria-controls="resume" role="tab" data-toggle="tab">
                Résumé
            </a>
        </li>
        <li role="presentation">
            <a data-target="#product" aria-controls="product" role="tab" data-toggle="tab">
                Le produit
            </a>
        </li>
        <li class="unpadded" role="presentation">
            <a data-target="#market" aria-controls="market" role="tab" data-toggle="tab">
                Chiffres clés <br/>
                et Marché
            </a>
        </li>
        <li role="presentation">
            <a data-target="#startup" aria-controls="startup" role="tab" data-toggle="tab">
                La start-up
            </a>
        </li>
    </ul>
</section>

<section>
<!-- generic -->
<div class="generic">
<div class="container">
<div class="row">
<div class="col-md-8">
<!-- tabs -->
<div class="tab-content">
<!-- resume -->
<div role="tabpanel" class="tab-pane fade active in" id="resume">
    <h2 class="section-title">Le pitch</h2>

    <p class="intro">
        {{ startup.projectTweet }}
    </p>

    <p class="description">
        {{ startup.offerServices }}
    </p>

    <a href="{{ startup.websiteUrl }}" target="_blank" class="link">{{ startup.websiteUrl }}</a>
</div>

<!-- product -->
<div role="tabpanel" class="tab-pane fade" id="product">
    <div class="row">
        <div class="col-md-12">
            <!-- section -->
            <div class="section">
                <div class="title">
                    Description détaillée du produit
                </div>

                <p>
                    {{ startup.offerDetails }}
                </p>
            </div>

            <!-- section -->
            <div class="section">
                <div class="title">
                    Business model
                </div>

                <p>
                    {{ startup.offerBusiness }}
                </p>
            </div>

            <!-- section -->
            <div class="section">
                <div class="title">
                    Positionnement
                </div>

                <p>
                    {{ startup.offerPositionning }}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- section -->
            <div class="section">
                <div class="title upper">
                    +
                </div>

                <p>
                    {{ startup.offerStrengths }}
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <!-- section -->
            <div class="section">
                <div class="title upper">
                    -
                </div>

                <p>
                    {{ startup.offerWeaknesses }}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- section -->
            <div class="section">
                <div class="title">
                    Atout différenciant
                </div>

                <p>
                    {{ startup.offerDiff }}
                </p>
            </div>

            <a data-target="#market" aria-controls="market" role="tab" data-toggle="tab"
               class="btn btn-primary-outline">
                Chiffres clés et marché
            </a>
        </div>
    </div>
</div>

<!-- market -->
<div role="tabpanel" class="tab-pane fade" id="market">
    <div class="row">
        <div class="col-md-6 left">
            <!-- section -->
            <div class="section">
                <div class="title">
                    Date de création
                </div>

                <p>
                    {{ startup.marketClients }}
                </p>
            </div>

            <div class="section">
                <div class="title">Fonds propres (€)</div>
                <p>
                    {{ startup.funds }}
                </p>
            </div>

            <div class="section">
                <h3 class="title">Clients</h3>

                <p>
                    {{ startup.ortherRevenues }}
                </p>
            </div>

            <div class="section">
                <h3 class="title">Chiffre d'affaires (€)</h3>

                <p>
                    {{ startup.revenues }}
                </p>
            </div>

            <div class="section">
                <div class="title">Fonds levés (€)</div>
                <p>
                    {{ startup.raisedFunds }}
                </p>
            </div>
        </div>

        <div class="col-md-6 right">
            <!-- section -->
            <div class="section">
                <div class="title">
                    Le marché cible
                </div>

                <p>
                    {{ startup.marketDescription }}
                </p>
            </div>

            <!-- section -->
            <div class="section">
                <div class="title">
                    Nos clients
                </div>

                <p>
                    {{ startup.marketClients }}
                </p>
            </div>

            <!-- section -->
            <div class="section">
                <div class="title">
                    Les concurrents
                </div>

                <p>
                    {{ startup.marketCompetitors }}
                </p>
            </div>
        </div>
    </div>

</div>

<!-- startup -->
<div role="tabpanel" class="tab-pane fade" id="startup">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                La start-up
            </div>

            <!-- section -->
            <div class="section">
                <h3 class="title">Date de création</h3>

                <p>
                    {{ startup.creationDate | date : 'longDate'}}
                </p>
            </div>

        </div>
        <div class="col-md-12">

            <!-- section -->
            <div class="section">
                <h3 class="title">Les membres</h3>


                <ul class="list-group" >
                    <li class="list-group-item col-md-6" ng-repeat="contact in startupContacts">
                        <h4 class="list-group-item-heading"><strong>{{ contact.firstname }} {{ contact.lastname }}</strong>
                            <span class="label label-info pull-right">{{ contact.role }}</span>
                        </h4>

                        <p class="list-group-item-text">
                        <div><strong>Email:</strong> <a target="_blank" href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
                        <div><strong>Numero de téléphone :</strong> <a target="_blank"  href="tel:{{ contact.phonenumber }}">{{ contact.phonenumber }}</a></div>
                        <div><strong>LinkedIn:</strong> <a target="_blank"  href="{{ contact.linkeIn }}">{{ contact.linkedIn }}</a></div>
                        </p>
                    </li>
                </ul>


            </div>


        </div>
    </div>
</div>

</div>
<div class="clear-fix"></div>
</div>

<!-- wall -->
<div class="col-md-4">
    <!-- sidebar -->
    <div class="sidebar-wall">
        <h2 class="section-title">Le wall</h2>

        <div class="media" ng-repeat="comment in comments">
            <div class="media-left">
                <a href="#" class="stack-zone">
                    <img class="media-object img-circle"
                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTRjODMzNjVmOSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NGM4MzM2NWY5Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                         alt="">
                    <img src="http://placehold.it/32x32/FFBC00?text=BSCC&txtsize=20" class="stacked img-circle"/>
                </a>
            </div>

            <div class="media-body meta">
                <h4 class="media-heading">{{ comment.userName }}</h4>
                <span class="meta date">{{ comment.createdAt | date: longDate }}</span> {{ comment.text }}

                <a class="contact" href="#/user/{{ comment.userId }}/profile">
                    <i class="icon-contact"></i>
                    Contacter
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="video-container">
        <iframe ng-src="{{ iframeUrl(startup.youtubeId) }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</div>
</div>

<!-- sip-note -->
<div class="sip-note">
    <div class="container">
        <div class="inner">
            <img src="/images/la-note-sip.png" alt=""/>

            <div class="note">
                {{ startup.sipScore || '0' }}/10
            </div>

            <p class="evaluation">
                {{ startup.sipAnalysis }}
            </p>
        </div>
    </div>
</div>

<!-- map -->
<div id="map" class="map" data-address="{{ startup.address }}"></div>

<!-- related -->
<div class="related">
    <div class="container">
        <h3 class="title">
            Start-ups du même thème
        </h3>

        <div class="inner row">
            <div class="col-md-4" ng-repeat="relatedStartup in relatedStartups">
                <!-- startup -->
                <div class="startup card fixed-card">
                    <div class="card-img-top">
                        <a href="#">
                            <img src="{{ relatedStartup.picture }}" alt="{{ relatedStartup.startupName }}">
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ relatedStartup.startupName }}</h4>

                        <p class="card-text">
                            {{ relatedStartup.tagline }}
                        </p>

                        <a href="#" class="card-link text-info" ng-repeat="tag in relatedStartup.tags">
                            #{{ tag }}
                        </a>

                        <div class="button-wrapper">
                            <a class="btn btn-primary-outline" href="#/startup/{{ relatedStartup._id }}/view">
                                Voir la fiche
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- know-startup -->
<div class="know-startup">
    <div class="container">
        <span class="title">Vous conaissez une start-up ?</span>

        <a href="#/startup/new" class="btn btn-lg">
            Soumettre une start-up
        </a>
    </div>
</div>
</section>

<div id="commentModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true" class="fa-3x">&times;</span></button>
                <h4 class="modal-title">Ajouter un commentaire</h4>
            </div>
            <div class="modal-body">
                <form ng-click="saveComment(newCommentText)">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-12">
                                <label>Votre commentaire</label>
                                <textarea class="form-control" ng-model="newCommentText" type="text"
                                          rows="8"/></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary"
                                data-dismiss="modal">Créer
                        </button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div id="documentsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true" class="fa-3x">&times;</span></button>
                <h3 class="modal-title">Les documents de la startup</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="document in startup.documents">
                        <a href="{{ document.file }}" _target="blank">
                            {{ document.name }} - <span
                                class="label label-info pull-right">{{ document.type | limitTo :7}}...</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        setTimeout(function () {
            var map = '';
            var geocoder = new google.maps.Geocoder();
            var address = document.getElementById('map').dataset.address;

            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();

                    initialize(latitude, longitude);
                }
            });

            function initialize(latitude, longitude) {
                var latLng = new google.maps.LatLng(latitude, longitude);

                var mapOptions = {
                    zoom: 14,
                    scrollwheel: false,
                    panControl: false,
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    overviewMapControl: false,
                    navigationControl: false,
                    draggable: true,
                    center: latLng
                };

                var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: '/images/spacer.gif'
                });

                var infoBubble = new InfoBubble({
                    width: 300,
                    borderRadius: 0,
                    arrowSize: 20,
                    borderWidth: 0,
                    shadowStyle: 0,
                    content: '<div class="startup-map-infowindow">' +
                    '<div class="picture"><img alt="" src="http://dummyimage.com/90x90/000/fff" /></div>' +
                    '<div class="inner">' +
                    '<div class="name">Philippe Martel</div> ' +
                    '<div class="job">CEO & Founder</div> ' +
                    '<div class="email">philippe@souscritoo.com</div> ' +
                    '<div class="phone">+33 6 43 75 88 99</div> ' +
                    '<div class="address">21 Rue de Cléry<br />75002 Paris</div> ' +
                    '</div>' +
                    '</div>'
                });

                infoBubble.open(map, marker);

                google.maps.event.addDomListener(window, 'resize', function () {
                    map.setCenter(latLng);
                });
            }
        }, 1000);
    })();
</script>