<section class="splash small">
    <!-- <img ng-show="startup.picture !== undefined" src="{{ startup.picture }}" alt=""/> -->
    <div class="container">
        <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->

        <h1>
            {{ startup.startupName ? startup.startupName :'SOUMETTRE UNE START-UP' }}
        </h1>
    </div>
</section>

<section id="main" class="container">
<div class="row">
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-target="#resume" aria-controls="home" role="tab" data-toggle="tab">
            <span class="step-number">1</span>
            Résumé
        </a>
    </li>
    <li role="presentation">
        <a data-target="#produit" aria-controls="produit" role="tab" data-toggle="tab">
            <span class="step-number">2</span>
            Le produit
        </a>
    </li>
    <li role="presentation">
        <a data-target="#marche" aria-controls="marche" role="tab" data-toggle="tab">
            <span class="step-number">3</span>
            Marché et chiffres clés
        </a>
    </li>
    <li role="presentation">
        <a data-target="#equipe" aria-controls="equipe" role="tab" data-toggle="tab">
            <span class="step-number">4</span>
            L'équipe
        </a>
    </li>
    <li role="presentation" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
        <a data-target="#startinpost" aria-controls="documents" role="tab" data-toggle="tab">
            <span class="step-number">5</span>
            StartInPost
        </a>
    </li>
</ul>


<div id="startup-form" class="startup-form" action="">
<div class="col-sm-12">
<!-- <div><img class="logo" src="assets/img/logo.png"></div> -->

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane fade active in" id="resume">
    <div class="form-body form-horizontal">
        <p>Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
            maximum afin de proposer la fiche la plus complète.
        </p>

        <div class="form-group">
            <div class="col-md-5">
                <label>Nom de la startup</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.startupName"
                       ng-blur="checkExistingStartup(startup.startupName)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Url du site</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.websiteUrl"
                       ng-blur="crawlMeta(startup.websiteUrl);"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Tag line</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.tagline"
                       ng-blur="saveStartup(startup.tagline)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Image</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="pictureZone.dropzone"
                      dropzone-config="pictureZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': pictureZone.addedFile, 'error': pictureZone.error,
                                       'success': pictureZone.success }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Résumé en 140 caractères</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                <sub>{{ startup.projectTweet.length || '0' }}/140</sub>
            </div>
            <div class="col-md-7" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.projectTweet" maxlength="140"
                          ng-blur="saveStartup()">{{ startup.projectTweet }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label>L'offre de services</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.offerServices"
                          ng-blur="saveStartup(startup.offerServices)">{{ startup.offerServices
                    }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Tags</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <selectize config='tagsConfig' options='tagsOptions'
                           ng-model="selectedTags"></selectize>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-5">
                <label>Documents</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="document in startup.documents">
                        {{ document.name }} - <span
                            class="label label-info">{{ document.type | limitTo :8}}</span>

                        <button class="btn btn-primary-outline badge"
                                ng-click="deleteDocument(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="filesZone.dropzone"
                      dropzone-config="filesZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': filesZone.addedFile, 'error': filesZone.error,
                                       'success': filesZone.success
                                       }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Contacts</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in startupContacts">
                        {{ contact.firstname }} {{ contact.lastname }} - <span
                            class="label label-info">{{ contact.role }}</span>

                        <button class="btn btn-primary-outline badge"
                                ng-click="deleteContact(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>

            </div>
            <button type="button" ng-class="{in: startup && startup._id}"
                    class="btn btn-primary pull-right fade" data-toggle="modal"
                    data-target="#contactModal"><i
                    class="fa fa-plus btn-primary"></i> Ajouter un contact
            </button>
        </div>

        <hr>

        <div class="form-group">
            <div class="col-md-5">
                <label>Votre Avis</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <textarea class="form-control" ng-model="startup.userOpinion">{{ startup.userOpinion }}</textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary-outline" ng-click="publishStartup()">
                    Publier en l'état
                </button>
                <button type="button" class="btn btn-primary" data-target="#produit"
                        data-toggle="tab">Etape suivante
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="produit">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label>Description détaillée du produit</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerDetails"
                          ng-blur="saveStartup(startup.offerDetails)">{{ startup.offerDetails }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Business model</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerBusiness"
                          ng-blur="saveStartup(startup.offerBusiness);">{{ startup.offerBusiness }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Positionnement</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerPositionning"
                          ng-blur="saveStartup(startup.offerPositionning)">{{ offerPositionning }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div>
                    <label>Forces</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" type="text" ng-model="startup.offerStrengths"
                          ng-blur="saveStartup(startup.offerStrengths)"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="">
                    <label>Faiblesses</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" ng-model="startup.offerWeaknesses"
                          ng-blur="saveStartup()"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label>Atout différenciant</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" ng-model="startup.offerDiff"
                          ng-blur="saveStartup(startup.offerDiff)"></textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary-outline" ng-click="publishStartup()">
                    Publier en l'état
                </button>
                <button type="button" class="btn btn-primary" data-target="#marche"
                        data-toggle="tab"
                        >Etape suivante
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="marche">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label>Description du marché ciblé</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.marketDescription"
                          ng-blur="saveStartup(startup.marketDescription)"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div>
                    <label>Qui sont les clients ?</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" type="text" ng-model="startup.marketClients"
                          ng-blur="saveStartup()"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="">
                    <label>Qui sont les concurrents ?</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" ng-model="startup.marketCompetitors"
                          ng-blur="saveStartup()"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label>Date de création</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <div date-picker="start" min-view="date" class="form-control" type="text"
                     ng-model="startup.creationDate"
                     ng-date-change="saveStartup()" format="dd-MM-yyyy"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Chiffre d'affaires</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.revenues"
                       ng-blur="saveStartup(startup.revenues)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Nombre de clients</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.otherRevenues"
                       ng-blur="saveStartup(startup.otherRevenues)"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label>Fonds propres</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.funds"
                       ng-blur="saveStartup(startup.funds)"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label>Fonds levés</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.raisedFunds"
                       ng-blur="saveStartup(startup.raisedFunds)"/>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary-outline" ng-click="publishStartup()">
                    Publier en l'état
                </button>
                <button type="button" class="btn btn-primary" data-target="#equipe"
                        data-toggle="tab">Etape suivante
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="equipe">
    <div class="form-body">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contact in startupContacts">
                    {{ contact.firstname }} {{ contact.lastname }} - <span
                        class="label label-info">{{ contact.role }}</span>
                    <button class="btn btn-primary-outline badge" ng-click="deleteMember(index)">
                        <i class="fa fa-close"></i></button>
                </li>
            </ul>

        </div>


        <div class="text-center">
            <button type="button" ng-class="{in: startup && startup._id}"
                    data-toggle="modal"
                    data-target="#contactModal"
                    class="btn btn-link-info fade"><i
                    class="fa fa-plus fa-2x"></i><br/>Ajouter un Membre
            </button>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-primary-outline" ng-click="publishStartup()">
                Publier
            </button>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="startinpost" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label>La note Startinpost</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <select class="form-control" type="number" ng-model="startup.sipScore"
                        ng-blur="saveStartup(startup.sipScore);">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>L'avis Start in post</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.sipAnalysis"
                          ng-blur="saveStartup(startup.sipAnalysis);">{{ startup.sipAnalysis }}</textarea>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa-3x">&times;</span>
                </button>

                <h4 class="modal-title">Ajouter un contact</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Prénom</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.firstname" type="text" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Nom</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newContact.lastname" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Adresse mail</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="email" ng-model="newContact.email" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Numero de téléphone</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.phonenumber" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>LinkedIn</label>
                        </div>
                        <div class="col-md-7">
                            <input type="url" class="form-control" ng-model="newContact.linkedIn"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Role</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.role" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <label>Contexte / Origine du contact</label>
                        </div>
                        <div class="col-md-7">
                            <textarea class="form-control" ng-model="newContact.origin"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-link" data-dismiss="modal">
                    Annuler
                </button>

                <button type="button" class="btn btn-primary" ng-click="saveContact(newContact._id)"
                        data-dismiss="modal">
                    Créer
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</section>
