<section class="splash small">
    <!-- <img ng-show="startup.picture !== undefined" src="{{ startup.picture }}" alt=""/> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->

                <form id="home-form" class="home-form" action="">
                    <h1>{{ startup.startupName ? startup.startupName :'SOUMETTRE UNE START-UP' }}</h1>

                </form>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-target="#resume" aria-controls="home" role="tab"
                                                  data-toggle="tab">1. Résumé</a></li>
        <li role="presentation"><a data-target="#produit" aria-controls="produit" role="tab"
                                   data-toggle="tab">2.
            Le produit</a></li>
        <li role="presentation"><a data-target="#marche" aria-controls="marche" role="tab"
                                   data-toggle="tab">3.
            Marché</a></li>
        <li role="presentation"><a data-target="#equipe" aria-controls="equipe" role="tab"
                                   data-toggle="tab">4.
            L'équipe</a></li>
        <li role="presentation" class="alternate ">
            <a data-target="#startinpost" aria-controls="documents" role="tab"
               data-toggle="tab" class="bg-green">
                StartInPost</a>
        </li>
    </ul>
</section>
<section id="main" class="container">

<div class="row">
<div id="startup-form" class="startup-form" action="">
<div class="col-sm-12">
<!-- <div><img class="logo" src="assets/img/logo.png"></div> -->


<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane fade active in" id="resume">
    <div class="form-body form-horizontal">
        <p>Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
            maximum afin de proposer la fiche la plus complète.
        </p>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">Nom de la startup</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.startupName"
                       ng-blur="saveStartup(startup.startupName)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Url du site</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.websiteUrl"
                       ng-blur="crawlMeta(startup.websiteUrl);"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Tag line</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.tagline"
                       ng-blur="saveStartup(startup.tagline)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Image</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      action="/startup/upload-picture"
                      ng-dropzone
                      dropzone="pictureZone.dropzone"
                      dropzone-config="pictureZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': pictureZone.addedFile, 'error': pictureZone.error,
                                       'success': pictureZone.success }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Résumé en 140 caractères</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.projectTweet"
                          ng-blur="saveStartup()">{{ startup.projectTweet }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">L'offre de services</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.offerServices"
                          ng-blur="saveStartup(startup.offerServices)">{{ startup.offerServices
                    }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Tags</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <selectize config='tagsConfig' options='tagsOptions'
                           ng-model="selectedTags"></selectize>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-5">
                <label for="">Documents</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="document in startup.documents">
                        {{ document.name }} - <span
                            class="label label-info">{{ document.type | limitTo :8}}</span>

                        <button class="btn btn-primary-outline badge" ng-click="deleteDocument(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      action="/startup/upload-file"
                      ng-dropzone
                      dropzone="filesZone.dropzone"
                      dropzone-config="filesZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': filesZone.addedFile, 'error': filesZone.error,
                                       'success': filesZone.success
                                       }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Contacts</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in startupContacts">
                        {{ contact.firstname }} {{ contact.lastname }} - <span class="label label-info">{{ contact.role }}</span>

                        <button class="btn btn-primary-outline badge" ng-click="deleteContact(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>

            </div>
            <button type="button" ng-class="{in: startup && startup._id}"
                    class="btn btn-primary pull-right fade" data-toggle="modal"
                    data-target="#contactModal"><i
                    class="fa fa-plus btn-primary"></i> Ajouter un contact
            </button>
        </div>

        <hr>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">Votre Avis</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <textarea class="form-control" ng-model="startup.userOpinion">{{ startup.userOpinion }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7 col-md-offset-5">
                <div class="btn-group  pull-right">
                    <button type="button" class="btn btn-info" ng-click="saveStartup()"
                            data-dismiss="modal">Enregistrer
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="publishStartup()"
                            data-dismiss="modal">Publier
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="produit">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label for="">Description détaillée du produit</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerDetails"
                          ng-blur="saveStartup(startup.offerDetails)">{{ startup.offerDetails }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="">Business model</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerBusiness"
                          ng-blur="saveStartup(startup.offerBusiness);">{{ startup.offerBusiness }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="">Positionnement</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.offerPositionning"
                          ng-blur="saveStartup(startup.offerPositionning)">{{ offerPositionning }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div>
                    <label for="">Forces</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" type="text" ng-model="startup.offerStrengths"
                          ng-blur="saveStartup(startup.offerStrengths)">{{ startup.offerStrengths }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="">
                    <label for="">Faiblesses</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" ng-model="startup.projectTweet"
                          ng-blur="saveStartup()">{{ startup.offerWeaknesses }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label for="">Atout différenciant</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" ng-model="startup.offerDiff"
                          ng-blur="saveStartup(startup.offerDiff)">{{ startup.offerDiff }}</textarea>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="marche">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label for="">Description du marché ciblé</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.MarketDescription"
                          ng-blur="saveStartup(startup.MarketDescription)">{{ startup.MarketDescription }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div>
                    <label for="">Qui sont les clients ?</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" type="text" ng-model="startup.MarketClients"
                          ng-blur="saveStartup(startup.MarketClients)">{{ startup.MarketClients }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="">
                    <label for="">Qui sont les concurrents ?</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <textarea class="form-control" ng-model="startup.MarketCompetitors"
                          ng-blur="saveStartup()">{{ startup.MarketCompetitors }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">Date de création</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <div date-picker="start" min-view="date" class="form-control" type="text" ng-model="startup.creationDate"
                       ng-date-change="saveStartup(startup.creationDate)" format="dd-MM-yyyy" ></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Chiffres d'affaires</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.revenues"
                       ng-blur="saveStartup(startup.revenues)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="">Nombre de clients</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.otherRevenues"
                       ng-blur="saveStartup(startup.otherRevenues)"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">Fonds propres</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.funds"
                       ng-blur="saveStartup(startup.funds)"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="">Fonds levés</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" ng-model="startup.raisedFunds"
                       ng-blur="saveStartup(startup.raisedFunds)"/>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="equipe">
    <div class="form-body">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contact in startup.members">
                    {{ contact.firstname }} {{ contact.lastname }} - <span
                        class="label label-info">{{ contact.role }}</span>

                    <button class="btn btn-primary-outline badge" ng-click="deleteMember(index)">
                        <i class="fa fa-close"></i></button>
                </li>
            </ul>

        </div>

        <form ng-submit="addMember()">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="">Prénom</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <div class="col-md-7">
                    <input class="form-control" ng-model="newMember.firstname" type="text" required/>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <label for="">Nom</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="newMember.lastname" required/>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-5">
                    <label for="">role</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="newMember.role" required/></div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <label for="">LinkedIn</label>
                    <sub>Lorem upsum parabelmmu ista blah blah</sub>
                </div>
                <div class="col-md-7">
                    <input class="form-control" ng-model="newMember.linkedIn" type="url"/></div>

            </div>


            <div class="text-center">
                <button type="submit" ng-class="{in: startup && startup._id}"
                        class="btn btn-link-info fade"><i
                        class="fa fa-plus fa-2x"></i><br/>Ajouter un Membre
                </button>
            </div>
        </form>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="startinpost">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label for="">La note Startinpost</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <select class="form-control" type="number" ng-model="startup.sipScore"
                          ng-blur="saveStartup(startup.sipScore);">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="">L'avis Start in post</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.sipAnalysis"
                          ng-blur="saveStartup(startup.sipAnalysis);">{{ startup.sipAnalysis }}</textarea>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
</div>

</div>

<div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true" class="fa-3x">&times;</span></button>
                <h4 class="modal-title">Ajouter un contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="">Prénom</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.firstname" type="text" required/>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="">Nom</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="text" ng-model="newContact.lastname" required/>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-5">
                            <label for="">Adresse mail</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" type="email" ng-model="newContact.email" required/></div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="">Numero de téléphone</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.phonenumber" type="text"/></div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="">Role</label>
                        </div>
                        <div class="col-md-7">
                            <input class="form-control" ng-model="newContact.role" type="text"/></div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="">Contexte / Origine du contact</label>
                        </div>
                        <div class="col-md-7">
                            <textarea class="form-control" ng-model="newContact.origin"></textarea></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="saveContact(newContact._id)"
                        data-dismiss="modal">Créer
                </button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</section>
