<section class="splash small"
         style="background-image:url({{ startup.mainTag ? ('/images/startup/header/' + startup.mainTag + '.jpg') : '/images/background-big.jpg' }}) ">
    <!-- <img ng-show="startup.picture !== undefined" src="{{ startup.picture }}" alt=""/> -->
    <div class="container">
        <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->

        <h1>
            {{ startup.startupName ? startup.startupName :'Soumettre une start-up' }}
        </h1>
    </div>
</section>

<section id="main" class="container">
<div class="row">
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a data-target="#resume" aria-controls="home" role="tab" data-toggle="tab">
            <span class="step-number">1</span>
            Résumé
        </a>
    </li>
    <li role="presentation">
        <a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">
            <span class="step-number">2</span>
            Documents
        </a>
    </li>
    <li role="presentation">
        <a data-target="#contact" aria-controls="contact" role="tab" data-toggle="tab">
            <span class="step-number">3</span>
            Contacts
        </a>
    </li>
    <li role="presentation" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
        <a data-target="#startinpost" aria-controls="documents" role="tab" data-toggle="tab" >
            <span class="step-number startinpost" >4</span>
            StartInPost
        </a>
    </li>
</ul>


<div id="startup-form" class="startup-form" action="">
<div class="col-sm-12">
<!-- <div><img class="logo" src="assets/img/logo.png"></div> -->

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane fade active in" id="resume">
    <div class="form-body form-horizontal">
        <p class="intro">Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
            maximum afin de proposer la fiche la plus complète.
        </p>

        <div class="form-group">
            <div class="col-md-6">
                <label>Nom de la startup</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="startup.startupName"
                       ng-blur="checkExistingStartup(startup.startupName)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Url du site</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="startup.websiteUrl"
                       ng-blur="crawlMeta(startup.websiteUrl);"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Résumé en 140 caractères</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                <sub class="count"><span class="number">{{ startup.projectTweet.length || '0' }}</span>/140</sub>
            </div>
            <div class="col-md-6" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.projectTweet" maxlength="140"
                          ng-blur="saveStartup()">{{ startup.projectTweet }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Tag principal</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <select class="form-control day" ng-model="startup.mainTag"
                        ng-change="mainTagChanged(startup.mainTag, '{{ startup.mainTag }}');">
                    <option ng-repeat='n in ["3d-printing"
                    ,"automobile"
                    ,"b2b"
                    ,"big-data"
                    ,"cleantech"
                    ,"cyber-securite"
                    ,"defense"
                    ,"delivery"
                    ,"education"
                    ,"entertainement"
                    ,"fashion"
                    ,"fintech"
                    ,"food"
                    ,"gaming"
                    ,"hardware"
                    ,"industrie"
                    ,"inteligence-artificielle"
                    ,"iot"
                    ,"lifestyle"
                    ,"logistique"
                    ,"medias"
                    ,"realite-virtuelle"
                    ,"retail"
                    ,"sharing-economy"
                    ,"silver-economy"
                    ,"smart-city"
                    ,"transport"
                    ,"voyage"
                    ,"wip"
                    ]
                    ' value="{{ n }}">{{ tagsList[n] || n }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Tags de la start-up</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <selectize config='tagsConfig' options='tagsOptions'
                           ng-model="selectedTags"></selectize>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-6">
                <label>Quelle est la cible ?</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                <sub class="count"><span class="number">{{ startup.marketClients.length || '0' }}</span>/500</sub>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" type="text" ng-model="startup.marketClients" maxlength="500"
                          ng-blur="saveStartup()"></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-6">
                <label>Quel service/produit ?</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                <sub class="count"><span class="number">{{ startup.offerServices.length || '0' }}</span>/500</sub>
            </div>
            <div class="col-md-6" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.offerServices" maxlength="500"
                          ng-blur="saveStartup(startup.offerServices)">{{ startup.offerServices
                    }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Quel business model ?</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                <sub class="count"><span class="number">{{ startup.offerBusiness.length || '0' }}</span>/500</sub>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" type="text" ng-model="startup.offerBusiness"
                          maxlength="500"
                          ng-blur="saveStartup(startup.offerBusiness);">{{ startup.offerBusiness }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Adresse physique</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6" ng-class="{'autocomplete-field': isAutocompleting }">
                <textarea class="form-control" ng-model="startup.address"
                          ng-blur="saveStartup()"></textarea>
            </div>
        </div>

        <hr>

        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary-outline" ng-click="closeStartup()">
                    Continuer plus tard
                </button>
                <button type="button" class="btn btn-primary" data-target="#documents"
                        data-toggle="tab">Etape suivante
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="documents">
    <div class="form-body">
        <p class="intro">Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
            maximum afin de proposer la fiche la plus complète.
        </p>

        <div class="form-group">
            <div class="col-md-6">
                <label>Logo de la startup</label>
            </div>
            <div class="col-md-6">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="logoZone.dropzone"
                      dropzone-config="logoZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': logoZone.addedFile, 'error': logoZone.error,
                                       'success': logoZone.success }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Image principale</label>
            </div>
            <div class="col-md-6">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="pictureZone.dropzone"
                      dropzone-config="pictureZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': pictureZone.addedFile, 'error': pictureZone.error,
                                       'success': pictureZone.success }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Documents</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="filesZone.dropzone"
                      dropzone-config="filesZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': filesZone.addedFile, 'error': filesZone.error,
                                       'success': filesZone.success
                                       }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="document in startup.documents">
                        {{ document.name }} - <span
                            class="label label-info">{{ document.type | limitTo :8}}</span>

                        <button class="btn btn-primary-outline badge"
                                ng-click="deleteDocument(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Images du produit</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6">
                <form class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      ng-dropzone
                      dropzone="extraImagesZone.dropzone"
                      dropzone-config="extraImagesZone.dropzoneConfig"
                      event-handlers="{ 'addedfile': extraImagesZone.addedFile, 'error': extraImagesZone.error,
                                       'success': extraImagesZone.success
                                       }">
                    <input type="hidden" name="_id" value="{{ startup._id }}"/>
                </form>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="document in startup.images">
                        {{ document.name }} - <span
                            class="label label-info">{{ document.type | limitTo :8}}</span>

                        <button class="btn btn-primary-outline badge"
                                ng-click="deleteDocument(index)">
                            <i class="fa fa-close"></i></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Présentation vidéo youtube</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-6" ng-class="{'autocomplete-field': isAutocompleting }">
                <input type="url" class="form-control" ng-model="startup.videoPresentation"
                       ng-blur="saveStartup()"/>
            </div>
        </div>


        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary-outline" ng-click="closeStartup()">
                    Continuer plus tard
                </button>
                <button type="button" class="btn btn-primary" data-target="#contact"
                        data-toggle="tab"
                        >Etape suivante
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="contact">

    <div class="form-body">
        <p class="intro">Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
            maximum afin de proposer la fiche la plus complète.
        </p>

        <div class="contact-form existing-contact" ng-repeat="contact in startupContacts">
            <div class="form-group">
                <button class="btn btn-primary-outline badge pull-right" ng-click="deleteMember($index)">
                    <i class="fa fa-close"></i></button>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Prénom</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="contact.firstname" type="text" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Nom</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" ng-model="contact.lastname" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Adresse mail</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="email" ng-model="contact.email" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Numero de téléphone</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="contact.phonenumber" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>LinkedIn</label>
                </div>
                <div class="col-md-6">
                    <input type="url" class="form-control" ng-model="contact.linkedIn"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Role</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="contact.role" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Contexte / Origine du contact</label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" ng-model="contact.origin"></textarea>
                </div>
            </div>
        </div>


        <center ng-if="startupContacts.length > 0">
            <hr/>
            <button class="btn btn-primary-outline text-center" type="button" data-toggle="collapse"
                    data-target="#new-contact-form"
                    aria-expanded="false" aria-controls="collapseExample" ng-if="startupContacts.length > 0">
                AJOUTER UN AUTRE CONTACT
            </button>
            <hr/>
        </center>

        <div class="new-contact collapse in" id="new-contact-form" ng-class="{collapsed: startupContacts.length > 0}">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Prénom</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="newContact.firstname" type="text" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Nom</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" ng-model="newContact.lastname" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Adresse mail</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="email" ng-model="newContact.email" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Numero de téléphone</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="newContact.phonenumber" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>LinkedIn</label>
                </div>
                <div class="col-md-6">
                    <input type="url" class="form-control" ng-model="newContact.linkedIn"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Role</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="newContact.role" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label>Contexte / Origine du contact</label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" ng-model="newContact.origin"></textarea>
                </div>
            </div>

            <div class="form-group">

                <button type="button" class="btn btn-primary pull-right" ng-click="saveContact(newContact._id)"
                        >
                    Créer
                </button>
            </div>


        </div>
        <div class="clearfix"></div>
        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="publishStartup()">
                    Publier
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="equipe">
    <div class="form-body">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contact in startupContacts">
                    {{ contact.firstname }} {{ contact.lastname }} - <span
                        class="label label-info">{{ contact.role }}</span>
                    <button class="btn btn-primary-outline badge" ng-click="deleteMember(index)">
                        <i class="fa fa-close"></i></button>
                </li>
            </ul>

        </div>


        <div class="text-center">
            <button type="button" ng-class="{in: startup && startup._id}"
                    data-toggle="modal"
                    data-target="#contactModal"
                    class="btn btn-link-info fade"><i
                    class="fa fa-plus fa-2x"></i><br/>Ajouter un Membre
            </button>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-primary-outline" ng-click="publishStartup()">
                Publier
            </button>
        </div>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade " id="startinpost" ng-show="globals.user.roles.indexOf('ADMIN') !== -1">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12">
                <label>La note Startinpost</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <select class="form-control" type="number" ng-model="startup.sipScore"
                        ng-blur="saveStartup(startup.sipScore);">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Avancement de la startup</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <select class="form-control" type="number" ng-model="startup.sipStatus"
                        ng-blur="saveStartup(startup.sipScore);">
                    <option value=""></option>
                    <option value="">Pre-launch : projet en pré-lancement</option>
                    <option value="">Seed : début d’activité et de CA</option>
                    <option value="">Series A : 1ère levée de fonds 800K€->5M€</option>
                    <option value="">Series B : 2e levée de fonds > 5M€</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>L'avis Start in post</label>
                <sub>Lorem upsum parabelmmu ista blah blah</sub>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" type="text" ng-model="startup.sipAnalysis"
                          ng-blur="saveStartup(startup.sipAnalysis);">{{ startup.sipAnalysis }}</textarea>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa-3x">&times;</span>
                </button>

                <h4 class="modal-title">Ajouter un contact</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-link" data-dismiss="modal">
                    Annuler
                </button>

                <button type="button" class="btn btn-primary" ng-click="saveContact(newContact._id)"
                        data-dismiss="modal">
                    Créer
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</section>
