<!DOCTYPE html>
<html>
<head>
    <title>Yellow Starter</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
          rel="icon" type="image/x-icon"/>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <link rel="stylesheet" href="/js/bower_components/angular-xeditable/dist/css/xeditable.min.css">
    <link rel="stylesheet" href="/js/bower_components/dropzone/downloads/css/dropzone.css">
    <link rel="stylesheet" href="/js/bower_components/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="/js/bower_components/angular-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
</head>

<body ng-app="startApp" class="<%= locals.page && page.class ? page.class : '' %>  {{ $state.current.name }} "
      id="<%= locals.page && page.id ? page.id : '' %>">
<!-- login -->
<div class="top-navigation top-navigation-login navbar navbar-default navbar-fixed-top"
     ng-if="$state.current.name  === 'user-register'">
    <div class="container">
        <a href="#/" class="brand">
            <img src="/images/logo.png" alt="Yellow Starter"/>
        </a>

        <form class="form-login form-inline" ng-controller="RegisterCtrl as Register"
              ng-submit="login(Register.email, Register.password)">
            <input class="url form-control" name="email" ng-model="Register.email" type="email" required
                   placeholder="Adresse email"/>
            <input class="url form-control" name="password" ng-model="Register.password" type="password" required
                   placeholder="Mot de passe"/>

            <button class="btn btn-primary" type="submit">Connexion</button>
        </form>
    </div>
</div>

<!-- default -->
<div id="navbar-main" class="top-navigation top-navigation-default navbar navbar-default navbar-fixed-top"
     ng-if="!$state.is('user-register')">
    <div class="container">
        <a href="#/" class="brand">
            <img src="/images/logo.png" alt="Yellow Starter"/>
        </a>

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-right">
            <li class="border first search-form" ng-controller="ListStartupCtrl as listStartup">
                <form ng-click="search(listStartup.searchName)">
                    <button class="btn btn-link" href="search">
                        <img src="/images/icons/search.png" alt="search"/>
                    </button>

                    <input class="url form-control" name="website" ng-model="listStartup.searchName" type="text"
                           placeholder="Rechercher une start-up"/>
                </form>
            </li>
            <li class="dropdown border has-icon">
                <a id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" fadeOut>
                    <img class="icon" alt="" src="/images/icons/user.png"/>

                    Mon profil
                </a>

                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li>
                        <a href="#/user/profile">Mon profil</a>
                    </li>
                    <li>
                        <a ng-click="logout()" ng-controller="RegisterCtrl">Déconnexion</a>
                    </li>
                </ul>
            </li>
            <li class="border has-icon">
                <a href="#/" fadeOut>
                    <div class="icon">
                        <span class="badge blue">2</span>
                    </div>

                    Mes notifications
                </a>
            </li>
            <li class="border has-icon">
                <a href="#/" fadeOut>
                    <img class="icon" alt="" src="/images/icons/star.png"/>

                    Mes favoris
                </a>
            </li>
            <li class="orange has-icon">
                <a href="#/startup/new" fadeOut>
                    <img class="icon" alt="" src="/images/icons/plus.png"/>

                    Ajouter une start-up
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="wrapper">
    <div class="body">
        <div ui-view class="page {{ pageClass }}"></div>
    </div>
</div>

<!--

<div class="row" id="results-section">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-controller="SearchStartupCtrl" ng-repeat="startup in searchedStartups">
        <div class="card fixed-card">
            <div class="card-img-top">
                <a href="#/startup/{{ startup._id }}/view">
                    <img src="{{ startup.picture }}" alt="{{ startup.startupName }}">
                </a>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ startup.startupName }}</h4>

                <p class="card-text">{{ startup.tagline }}</p>
                <a href="#/startup?tag={{ tag }}" class="card-link text-info" ng-repeat="tag in startup.tags">#{{ tag }}</a>
                <br/>
                <a href="#/startup/{{ startup._id }}/view" class="btn btn-primary-outline"><i class="fa fa-eye"></i></a>
                <a href="#/startup/{{ startup._id }}/edit" class="btn btn-primary-outline"><i
                            class="fa fa-edit"></i></a>

                <button class="btn btn-danger pull-right" ng-click="deleteStartup(index)"><i
                            class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
-->

<!--

    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<footer class="footer">
    <div class="container">
        <p class="text-muted pull-left copyright">© La Poste 2016 – Tous droits réservés <br/>
            Mentions légales I Conditions générales d’utilisation</p>

        <img class="pull-right" src="/images/logo-laposte.png" height="40" alt="laposte"/>
    </div>
</footer>

<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/bower_components/jquery/dist/jquery.min.js">\x3C/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>


<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/js/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/js/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/js/bower_components/angular-route/angular-route.min.js"></script>
<script src="/js/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/js/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="/js/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="/js/bower_components/dropzone/downloads/dropzone.min.js"></script>
<script src="/js/bower_components/angular-dropzone/lib/angular-dropzone.js"></script>
<script src="/js/bower_components/angular-datepicker/dist/angular-datepicker.min.js"></script>
<script src="/js/bower_components/jquery.cycle2/index.js"></script>

<script src="/js/bower_components/bootbox/bootbox.js"></script>
<script src="/js/bower_components/ngBootbox/dist/ngBootbox.min.js"></script>

<script type="text/javascript" src="/js/bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="/js/bower_components/angular-selectize2/dist/angular-selectize.js"></script>

<script src="/js/angular/app.modules.js"></script>
<script src="/js/angular/app.js"></script>
<script src="/js/angular/app.routes.js"></script>


<script src="/js/angular/modules/admin-user/list/list.controller.js"></script>

<script src="/js/angular/modules/startup/view/view.controller.js"></script>
<script src="/js/angular/modules/startup/edit/edit.controller.js"></script>
<script src="/js/angular/modules/startup/list/list.controller.js"></script>
<script src="/js/angular/modules/startup/search/search.controller.js"></script>

<script src="/js/angular/modules/user/login/login.controller.js"></script>
<script src="/js/angular/modules/user/register/register.controller.js"></script>
<script src="/js/angular/modules/user/profile/profile.controller.js"></script>

<script src="/js/angular/modules/common/resources.js"></script>
<script src="/js/angular/modules/common/startup.service.js"></script>
<script src="/js/angular/modules/common/authentication.service.js"></script>
<script src="/js/angular/modules/common/authinterceptor.service.js"></script>
<script src="/js/angular/modules/common/user.service.js"></script>
<script src="/js/angular/modules/common/utils.service.js"></script>


<script src="/js/dependencies/homepage.js"></script>
<script src="/js/dependencies/main.js"></script>
</body>
</html>
