/*
 * Base
 */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

/*
 * Glyphs
 */
@font-face {
  font-family: 'icomoon-startup';
  src: url('fonts/icomoon-startup.eot?snb6p1');
  src: url('fonts/icomoon-startup.eot?snb6p1#iefix') format('embedded-opentype'),
  url('fonts/icomoon-startup.ttf?snb6p1') format('truetype'),
  url('fonts/icomoon-startup.woff?snb6p1') format('woff'),
  url('fonts/icomoon-startup.svg?snb6p1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon-startup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowLeft:before {
  content: "\e90c";
}

.icon-arrowRight:before {
  content: "\e90d";
}

.icon-Badge:before {
  content: "\e900";
}

.icon-AddComment:before {
  content: "\e901";
}

.icon-EditPage:before {
  content: "\e902";
}

.icon-bromance:before {
  content: "\e903";
}

.icon-favoriteAdd:before {
  content: "\e904";
}

.icon-favoriteCheck:before {
  content: "\e905";
}

.icon-favorite:before {
  content: "\e906";
}

.icon-settings:before {
  content: "\e907";
}

.icon-add:before {
  content: "\e908";
}

.icon-contact:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e90a";
}

.icon-account:before {
  content: "\e90b";
}

.icon-logout:before {
  content: "\e90f";
}

@font-face {
  font-family: 'icomoon-startup';
  src: url('fonts/icomoon-startup.eot?g0kbku');
  src: url('fonts/icomoon-startup.eot?g0kbku#iefix') format('embedded-opentype'),
  url('fonts/icomoon-startup.ttf?g0kbku') format('truetype'),
  url('fonts/icomoon-startup.woff?g0kbku') format('woff'),
  url('fonts/icomoon-startup.svg?g0kbku#icomoon-startup') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-start-"], [class*=" icon-start-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-startup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-start-ico-doc:before {
  content: "\e800";
}

.icon-start-ico-pdf:before {
  content: "\e801";
}

.icon-start-ico-ppt:before {
  content: "\e802";
}

.icon-start-ico-xls:before {
  content: "\e803";
}

.icon-start-bt-contact:before {
  content: "\e702";
}

.icon-start-bt-edit:before {
  content: "\e703";
}

.icon-start-bt-follow:before {
  content: "\e700";
}


.icon-start-bt-unfollow:before {
  content: "\e701";
}

/*
 * Loading screen
 */


body.unlocked:not(.modal-open) {
  overflow: auto;
}

.loading-screen {
  position: fixed;
  z-index: 999999;

  width: 100%;
  height: 100%;

  text-align: center;
  background: #ffffff;

  img {
    margin-top: 50vh;

    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  &.fade {
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;

    opacity: 0;
  }
}

//
/*
 * Cas de la HP
 */
body.home {

  .top-navigation {
    .navigation {

      li {
        a {
          .icon {
            color: #fff;
          }
        }
      }

    }
  }
}

/*
 * Top navigation
 */
body.home .top-navigation {
  position: absolute;
  z-index: 3000;
}
.top-navigation {
  position: relative;
  display: block;
  // left: 50%;
  // margin-left: -485px;
  margin-bottom: 0;
  width: 100%;
  // max-width: 940px;
  height: 110px;
  border: 0;
  background: transparent;

  .transition(height 50ms linear);
  /*

    &.top-navigation-default.small {
      .transition(height 50ms linear);
      height: 65px;

      .search-form {
        float: left;
        position: relative;
        overflow: visible;
        width: 50%;

        input {
          height: 65px;
          padding: 27px 25px 22px 40px;
        }

        button {
          padding: 22px 0 22px 10px;
        }
      }

      li.dropdown {
        margin-top: 10px;
        position: relative;
        top: -2px;
      }

      .navigation li a {
        padding: 15px 10px 15px 9px;
        i {
          */
  /*font-size: 2.4em;*//*

        }
        span.menulabel {
          display: none;
        }
      }


      .brand {
        width: 120px;
        padding: 15px 30px 17px 0;
      }
    }

  */
  .bigBadge {
    position: relative;
    top: -10px;
    padding: 12px 10px;
    font-weight: 200;
    font-size: 14px;
    background-color: #7e98e3;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 130px;
  }

  .badge {
    position: absolute;
    padding: 2px 4px;
    font-weight: normal;
    font-size: 11px;
    background-color: #ff01a2;
    z-index: 2000;
  }

  // brand
  .brand {
    width: 150px;
    float: left;

    padding: 33px 30px 30px 0;
  }

  &.top-navigation-login {
    .form-login {
      float: right;
      padding: 25px 0;

      input {
        margin: 0 5px;
        padding: 12px 10px;

        min-width: 190px;
        height: auto;
        font-size: 12px !important;
      }
    }
  }

  &.top-navigation-default {

    .container {
      position: relative;
    }

    // search
    .search-form {
      float: left;
      width: 830px;
      overflow: visible !important;
      position: fixed;
      top: 150px;
      left: 50%;
      margin-left: -415px;
      visibility: hidden;
      opacity: 0;

      input {
        display: block;
        width: 830px;
        height: 80px;
        padding: 10px 25px 10px 25px;
        font-size: 17px;
        font-weight: 200;
        color: #73737f;
        border: none;
        border-radius: 0;

        font-size: 30px;

        /* color: #73737F;
        position: fixed;
        width: 830px;
        height: 109px; */
        z-index: 10;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: static;
        -webkit-transition: 100ms linear all;
        transition: 100ms linear all;

        /*    &:focus {
              font-size: 30px;
              color: #73737F;
              position: fixed;
              width: 830px;
              height: 109px;
              z-index: 10;
              border-right: 1px #eaeaea solid;
            }*/
      }

      button {
        position: absolute;
        z-index: 20;
        font-size: 20px;
        line-height: 20px;
        padding: 43px 0 43px 10px;
        top: 0;

        &:hover,
        &:focus {
          color: #73737f;
          text-decoration: none;
        }

        &.btn-icon {
          left: 0;
        }

        &.btn-search {
          right: -320px;
          border-radius: 0;
          background-color: @brand-primary;
          font-weight: 300;
          min-width: 100px;
          padding: 43px 10px 43px 10px;
        }

      }

      .angucomplete-dropdown {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
        border: 0;
        min-width: 830px;
        top: 115px;
        left: 0px;
        margin-top: -21px;
        -wekbit-transition: none;
        transition: none;

        .angucomplete-row {
          margin: 0;
          padding-left: 42px;
          padding-top: 15px;
          padding-bottom: 30px;
          border-bottom: 1px solid #E6E6EC;
          min-height: 80px;

          &:last-child {
            background-color: @brand-primary;
            border: 0;
            height: 30px;
            padding-left: 0px;
            color: #FAFDD4;
            text-align: center;
            .angucomplete-title {
              color: #FAFDD4;
            }
          }

          &:first-child {
            background-color: red;
            .angucomplete-title {
              color: #081433;
            }
          }
        }

        .angucomplete-selected-row {
          background-color: rgba(5, 71, 253, 0.30);
        }

        .angucomplete-title {
          margin-top: 10px;
          font-size: 22px;
          color: #081433;
        }

        .angucomplete-description {
          color: #D9D9DE;
          font-size: 13px;
        }
      }
    }

    &.nav-focus {
      .search-form {
        visibility: visible;
        opacity: 1;

      }
    }

    // menu
    .navigation {
      position: absolute;
      top: 0;
      right: 0;

      display: inline-block;
      vertical-align: top;

      margin: 0;
      padding: 0;

      li {
        margin-top: 30px;
        display: inline-block;
        margin-right: -4px;
        list-style-type: none;
        cursor: pointer;

        min-width: 80px;
        text-align: center;
        font-size: 10px;
        line-height: 12px;

        color: #fff;

        &.notifications {
          .dropdown-menu {
            li {
              margin-right: 0;

              min-width: 200px;
              a {
                padding: 27px 10px;
                word-wrap: break-word;
                white-space: normal;
                text-align: left;
              }
            }
          }
        }

        a {
          display: inline-block;

          font-weight: 400;
          color: #fff;
          text-align: center;

          span.menulabel {
            line-height: 12px;
            color: #73737f;
          }
          &:hover,
          &:focus {
            text-decoration: none;
          }

          .icon {
            font-size: 24px;
            line-height: 35px;
            color: @brand-info;
            display: block;
            margin: 0 auto 1px auto;
          }
        }

        .dropdown-menu {
          min-width: 100px;
          margin: -1px 0 0 0;
          border: 1px solid #EAEAEA;

          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;

          -webkit-box-shadow: 0 0 0 0 !important;
          -moz-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;

          hr {
            margin: 0;
          }

          li {
            display: block;
            width: 100%;
            border: none;

            a {
              width: 100%;
              height: auto;
              padding: 10px 0;

              color: #333333;

              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    // burger menu
    .navbar-toggle {
      display: none;
      position: absolute;
      top: 15px;
      right: 0;

      border: none;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .top-navigation{
    .brand{
      padding: 0 30px 30px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .top-navigation {
    left: 0;
    margin-left: 0;
    width: 100%;
    &.top-navigation-login {
      position: static;
      height: auto;
      margin: 0;

      .brand {
        display: block;
        float: none;

        padding: 0;
        margin: 15px auto;

        border: none;
        width:120px;
      }

      .form-login {
        display: block;
        margin: 0 auto;
        float: none;

        input {
          margin: 0 0 15px 0;
        }
      }
    }

    &.top-navigation-default {
      .navigation {
        display: block;

        &.collapse.in {
          display: block;
          width: 100%;

          top: 98px;
          background: #ffffff;

          li {
            display: block;
            width: 100%;
            border: none;

            a {
              padding-top: 10px;
              padding-bottom: 10px;

              .icon {
                color: #0031f7;
              }
            }
          }

          .dropdown-menu {
            position: static;
            width: 100%;

            .divider {
              display: none;
            }
          }
        }
      }

      .search-form {
        input {
          width: 50%;
          margin-left: 25%;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .navbar-toggle {
    display: block!important;
  }
  .top-navigation {
    ul#navigation li {
      border-top: 1px solid #c1ccfb;
      margin-top: 0;
      padding: 15px 0;
      height: 85px;
    }
    height:100px;
    &.top-navigation-default {
      .brand {
        border: none;
        width:120px;
      }
      .navigation {
        display: none;
      }
    }
    #profileDropdown {
      position: relative;
      width: 60px;
      height: 60px;

      .bigBadge, .badge {
        position: absolute;
      }
      .badge {
        margin-top: 0;
        top: 35px;
        left: 8px;
      }

      .bigBadge {
        top: 7px;
        left: 10px;
        height: 40px;
      }
    }
  }
}

/*
 * Page
 */

.page {
  min-height: 100%;
  margin-bottom: -100px;
}

.page:after {
  content: "";
  display: block;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .page.user-registration {
    padding-top: 0;
  }
}

/*
 * Footer
 */
footer {
  height: 100px;
  background-color: #0031f7;
  padding: 30px 0;

  .copyright {
    margin: 10px 0 0 0;
    padding: 0;

    float: left;
    color: #ffffff;
  }

  .brand {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;

    .copyright {
      display: block;
      width: 100%;
      float: none !important;

      text-align: center;
      display: none;
    }

    .brand {
      display: block;
      margin: 30px auto 0 auto;

      float: none !important;
      width: auto;
    }
    img.pull-right {
      float:none !important;
      margin: 0px auto;
      display: block;
    }
  }
}

/*
 *
 * UI & Collection
 *
 */

/*
 * Cycle Sliders
 */
.cycle-slider-home {
  width: 100%;
  overflow: hidden;
  position: relative;

  .slide {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .cycle-pager {
    position: absolute;
    z-index: 101;

    top: 50%;
    right: 30px;

    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    span {
      display: block;
      font-size: 46px;
      line-height: 26px;
      text-align: center;
      color: #fafdd4;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;

      &.cycle-pager-active {
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .cycle-pager {
    right: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .cycle-slider-home {
    height: auto;
    max-height: 900px;

    .slider {
      height: 100%;
    }
  }
}

.cycle-slider-media {
  width: 100%;
  height: 300px;

  overflow: hidden;
  position: relative;

  .slide {
    width: 100%;
    text-align: center;

    img {
      margin: 0 auto;
      height: 300px;
    }
  }

  .controls {
    cursor: pointer;

    .prev {
      position: absolute;
      z-index: 10000;

      left: 0;
      top: 50px;
    }

    .next {
      position: absolute;
      z-index: 10000;

      right: 0;
      top: 50px;
    }
  }
}

/*
 * Pagination
 */
.pagination-list {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;

    a {
      display: block;
      padding: 5px;

      font-size: 18px;
      font-weight: 500;
      color: #444400;

      &.active {
        color: #ff6500;
      }
    }

    .previous,
    .next {
      margin: 0 15px;
      font-size: 36px;
      font-weight: 500;
      color: #ff6500;
    }
    .previous:hover,
    .next:hover {
      text-decoration: none;
    }
  }
}

/*
 * Video container
 */
.video-container {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

/*
 * Slider controls
 */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 10;

  opacity: 0;

  top: 0;
  left: 0;
  height: 259px;
  width: 60px;

  border: none !important;
  background: rgba(0, 63, 254, .5);
  outline-style: none;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;

  &:hover {
    opacity: 100;
  }
}

.slick-next {
  left: auto;
  right: 0;
}

.slick-prev {
  left: -50px;
}

.slick-prev:after,
.slick-next:before {
  font-family: 'icomoon-startup';
  content: "\e90d";

  text-align: center;
  color: white;
  font-size: 25px;
}

.slick-prev:after {
  font-family: 'icomoon-startup';
  content: "\e90c";
}

/*
 * Colors schemes
 */
.btn-primary-alternate {
  background: transparent;
  color: #ff6500;
  border: 1px solid #ff6500;

  font-size: 11px;
  text-transform: uppercase;

  padding-left: 15px !important;
  padding-right: 15px !important;

  &:hover,
  &:focus {
    color: #ff6500;
  }
}

.btn-alternate {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;

  font-size: 11px;

  padding-left: 15px !important;
  padding-right: 15px !important;
}

.result-indicator {
  .pull-right {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .result-indicator {
    .pull-right {
      float: none !important;
      margin-top: 25px;
      text-align: center;
    }
  }
}
