/*
 * Base
 */
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}
/*
 * Glyphs
 */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?y163zq');
  src: url('fonts/icomoon.eot?y163zq#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?y163zq') format('truetype'), url('fonts/icomoon.woff?y163zq') format('woff'), url('fonts/icomoon.svg?y163zq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Badge:before {
  content: "\e900";
}
.icon-AddComment:before {
  content: "\e901";
}
.icon-EditPage:before {
  content: "\e902";
}
.icon-bromance:before {
  content: "\e903";
}
.icon-favoriteAdd:before {
  content: "\e904";
}
.icon-favoriteCheck:before {
  content: "\e905";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}
.icon-add:before {
  content: "\e908";
}
.icon-contact:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-account:before {
  content: "\e90b";
}
/*
 * Loading screen
 */
body.unlocked {
  overflow: auto;
}
.loading-screen {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ffffff;
}
.loading-screen img {
  margin-top: 50vh;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.loading-screen.fade {
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  opacity: 0;
}
/*
 * Top navigation
 */
.top-navigation {
  display: block;
  height: 100px;
  z-index: 1000;
}
.top-navigation .brand {
  width: 170px;
  float: left;
  padding: 24px 0;
  border-right: 1px solid #EAEAEA;
}
.top-navigation.top-navigation-login .form-login {
  float: right;
  padding: 25px 0;
}
.top-navigation.top-navigation-login .form-login input {
  margin: 0 5px;
  padding: 12px 10px;
  min-width: 190px;
  height: auto;
  font-size: 12px !important;
}
.top-navigation.top-navigation-default .container {
  position: relative;
}
.top-navigation.top-navigation-default .search-form {
  float: left;
  position: relative;
  width: 50%;
}
.top-navigation.top-navigation-default .search-form input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 25px 40px 40px;
  font-size: 12px;
  font-weight: 500;
  color: #73737f;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.top-navigation.top-navigation-default .search-form button {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 38px 0 38px 10px;
}
.top-navigation.top-navigation-default .search-form button:hover,
.top-navigation.top-navigation-default .search-form button:focus {
  color: #73737f;
  text-decoration: none;
}
.top-navigation.top-navigation-default .search-form .angucomplete-dropdown {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 105px;
  left: -1px;
}
.top-navigation.top-navigation-default .navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.top-navigation.top-navigation-default .navigation .orange {
  background: #FF6500;
}
.top-navigation.top-navigation-default .navigation .orange a {
  color: #ffffff !important;
}
.top-navigation.top-navigation-default .navigation .blue {
  background: #0547FD;
}
.top-navigation.top-navigation-default .navigation .blue a {
  color: #ffffff !important;
}
.top-navigation.top-navigation-default .navigation li {
  display: inline-block;
  margin-right: -4px;
  list-style-type: none;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  font-size: 10px;
  border-left: 1px solid #EAEAEA;
}
.top-navigation.top-navigation-default .navigation li a {
  display: inline-block;
  padding: 30px 10px;
  font-weight: 500;
  color: #73737f;
  text-align: center;
}
.top-navigation.top-navigation-default .navigation li a:hover,
.top-navigation.top-navigation-default .navigation li a:focus {
  text-decoration: none;
}
.top-navigation.top-navigation-default .navigation li a .icon {
  font-size: 24px;
  line-height: 24px;
  display: block;
  margin: 0 auto 1px auto;
}
.top-navigation.top-navigation-default .navigation li .dropdown-menu {
  min-width: 100px;
  margin: -1px 0 0 0;
  border: 1px solid #EAEAEA;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.top-navigation.top-navigation-default .navigation li .dropdown-menu hr {
  margin: 0;
}
.top-navigation.top-navigation-default .navigation li .dropdown-menu li {
  display: block;
  width: 100%;
  border: none;
}
.top-navigation.top-navigation-default .navigation li .dropdown-menu li a {
  width: 100%;
  height: auto;
  padding: 10px 0;
  color: #333333;
}
.top-navigation.top-navigation-default .navigation li .dropdown-menu li a:hover {
  color: #ffffff;
}
.top-navigation.top-navigation-default .navbar-toggle {
  position: absolute;
  top: 15px;
  right: 0;
  border: none;
}
@media screen and (max-width: 768px) {
  .top-navigation.top-navigation-login {
    position: static;
    height: auto;
    margin: 0;
  }
  .top-navigation.top-navigation-login .brand {
    display: block;
    float: none;
    padding: 0;
    margin: 15px auto;
    border: none;
  }
  .top-navigation.top-navigation-login .form-login {
    display: block;
    margin: 0 auto;
    float: none;
  }
  .top-navigation.top-navigation-login .form-login input {
    margin: 0 0 15px 0;
  }
  .top-navigation.top-navigation-default .navigation {
    display: none;
  }
  .top-navigation.top-navigation-default .navigation.collapse.in {
    display: block;
    width: 100%;
    top: 100px;
    background: #ffffff;
  }
  .top-navigation.top-navigation-default .navigation.collapse.in li {
    display: block;
    width: 100%;
    border: none;
  }
  .top-navigation.top-navigation-default .navigation.collapse.in li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .top-navigation.top-navigation-default .navigation.collapse.in .dropdown-menu {
    position: static;
    width: 100%;
  }
  .top-navigation.top-navigation-default .navigation.collapse.in .dropdown-menu .divider {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .top-navigation-default .brand {
    border: none;
  }
  .top-navigation-default .search-form {
    display: none;
  }
}
/*
 * Page
 */
.page {
  padding-top: 100px;
  min-height: 100%;
  margin-bottom: -100px;
}
.page:after {
  content: "";
  display: block;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .page.user-registration {
    padding-top: 0;
  }
}
/*
 * Footer
 */
footer {
  height: 100px;
  background-color: #0031f7;
  padding: 30px 0;
}
footer .copyright {
  margin: 0;
  padding: 0;
  float: left;
  color: #ffffff;
}
footer .brand {
  float: right;
}
@media screen and (max-width: 768px) {
  footer {
    height: auto;
  }
  footer .copyright {
    display: block;
    width: 100%;
    float: none !important;
    text-align: center;
  }
  footer .brand {
    display: block;
    margin: 30px auto 0 auto;
    float: none !important;
    width: auto;
  }
}
/*
 *
 * UI & Collection
 *
 */
/*
 * Cycle Sliders
 */
.cycle-slider-home {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cycle-slider-home .slide {
  width: 100%;
}
.cycle-slider-home .slide img {
  width: 100%;
}
.cycle-slider-home .cycle-pager {
  position: absolute;
  z-index: 101;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.cycle-slider-home .cycle-pager span {
  display: block;
  font-size: 46px;
  line-height: 26px;
  text-align: center;
  color: #fafdd4;
}
.cycle-slider-home .cycle-pager span.cycle-pager-active {
  font-size: 80px;
}
@media screen and (max-width: 1024px) {
  .cycle-pager {
    right: 15px !important;
  }
}
.cycle-slider-media {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.cycle-slider-media .slide {
  width: 100%;
  text-align: center;
}
.cycle-slider-media .slide img {
  margin: 0 auto;
  height: 300px;
}
.cycle-slider-media .controls {
  cursor: pointer;
}
.cycle-slider-media .controls .prev {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 50px;
}
.cycle-slider-media .controls .next {
  position: absolute;
  z-index: 10000;
  right: 0;
  top: 50px;
}
/*
 * Pagination
 */
.pagination-list {
  display: block;
  margin: 0;
  padding: 0;
}
.pagination-list li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.pagination-list li a {
  display: block;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #444400;
}
.pagination-list li a.active {
  color: #ff6500;
}
.pagination-list li .previous,
.pagination-list li .next {
  margin: 0 15px;
  font-size: 36px;
  font-weight: 500;
  color: #ff6500;
}
.pagination-list li .previous:hover,
.pagination-list li .next:hover {
  text-decoration: none;
}
/*
 * Colors schemes
 */
.btn-primary-alternate {
  background: transparent;
  color: #ff6500;
  border: 1px solid #ff6500;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.btn-primary-alternate:hover,
.btn-primary-alternate:focus {
  color: #ff6500;
}
.btn-alternate {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 11px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
