/*
 * Home &
 * Startup List
 */
.page.startup-list {
  /*
   * Home
   */
  /*
   * List
   */
}
.page.startup-list .home .section-title {
  font-size: 46px;
  font-weight: 300;
  color: #0547fd;
  padding: 20px 0;
}
.page.startup-list .home .startups-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.page.startup-list .home .startups-wrapper .startups-list {
  display: block;
  width: 100%;
  height: 400px;
  padding: 0 0 80px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.page.startup-list .home .startups-wrapper .startups-list .startup {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: 0 5px;
}
.page.startup-list .home .startups-wrapper .startups-list .startup:first-child,
.page.startup-list .home .startups-wrapper .startups-list .startup:last-child {
  opacity: 0.5 !important;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .thumbnail {
  display: block;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .thumbnail img {
  width: 100%;
  height: 220px;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .title {
  font-family: 'atc';
  font-size: 24px;
  color: #2c2c2c;
  letter-spacing: 0.99px;
  text-align: left;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .tags {
  margin: 0 5px;
  color: #0547fd;
  font-weight: 400;
}
.page.startup-list .heading {
  display: block;
  padding: 40px 0;
  position: relative;
}
.page.startup-list .heading .result-indicator {
  font-size: 52px;
  color: #5c5c5c;
}
.page.startup-list .heading .result-indicator .numb {
  font-size: 20px;
  color: #0031f7;
  vertical-align: baseline;
}
.page.startup-list .heading .sort {
  position: absolute;
  top: 70px !important;
  right: 0;
}
.page.startup-list .results {
  display: block;
}
.page.startup-list .results .startup {
  border: none !important;
}
.page.startup-list .results .startup .card-img-top {
  border-radius: 0;
}
.page.startup-list .results .startup .card-block {
  padding: 15px 0;
}
.page.startup-list .results .startup .card-block .card-title {
  font-size: 20px;
  font-weight: 500;
}
.page.startup-list .results .startup .card-block .card-text {
  height: 36px !important;
  font-size: 12px !important;
}
.page.startup-list .results .startup .card-block .card-link {
  font-size: 12px;
  color: #0031f7;
}
.page.startup-list .results .startup .card-block .button-wrapper {
  display: block;
  margin: 10px 0 0 0;
}
.page.startup-list .results .startup .card-block .button-wrapper .btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
.page.startup-list .bottom {
  padding: 10px 0 40px 0;
  text-align: center;
}
/*
 * View
 */
.page.startup-view {
  /*
   * Splash
   */
  /*
   * Tab: Resume
   */
}
.page.startup-view .splash {
  height: auto;
  position: relative;
  padding: 50px 0 0 0;
}
.page.startup-view .splash .logo {
  width: 300px;
}
.page.startup-view .splash .title {
  font-size: 48px;
  font-weight: 800;
  margin: 30px 0 0 0;
}
.page.startup-view .splash .subtitle {
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0 20px 0;
}
.page.startup-view .splash .startup-tags .tag {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
  font-size: 18px;
  color: #ffffff;
}
.page.startup-view .splash .startup-tags .tag a {
  color: #ffffff;
}
.page.startup-view .splash .actions {
  margin: 30px 0 0 0;
}
.page.startup-view .splash .actions .action {
  padding: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}
.page.startup-view .splash .actions .action .circle {
  display: block;
  margin: 0 auto 5px auto;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.startup-view .splash .actions .action i {
  display: block;
  margin: 0 0 5px 0;
  color: #FFFFFF;
  font-size: 48px;
}
.page.startup-view .splash .actions .action:hover {
  text-decoration: none;
}
.page.startup-view .splash .nav {
  width: 100%;
  border: none;
  margin: 50px 0 0 0;
}
.page.startup-view .splash .nav li {
  vertical-align: bottom;
  background: #ff6500;
  height: 55px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  padding: 0 23px;
}
.page.startup-view .splash .nav li a {
  height: 55px;
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 4px solid transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 5px;
}
.page.startup-view .splash .nav li.unpadded a {
  padding: 8px 5px;
}
.page.startup-view .splash .nav li.alternate {
  background: #87deb0;
}
.page.startup-view .splash .nav li:hover {
  background: #FCFCFC;
}
.page.startup-view .splash .nav li:hover a {
  color: #333333;
}
.page.startup-view .splash .nav li.active {
  background: #FCFCFC;
}
.page.startup-view .splash .nav li.active a {
  color: #333333;
  border-color: #ff6500;
}
.page.startup-view #resume .pitch-wall {
  padding: 40px 0;
}
.page.startup-view #resume .pitch-wall .title {
  display: block;
  margin: 0 0 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view #resume .pitch-wall .intro {
  font-size: 30px;
  font-weight: lighter;
}
.page.startup-view #resume .pitch-wall .description {
  margin: 40px 0;
}
.page.startup-view #resume .pitch-wall .link {
  text-decoration: underline;
}
.page.startup-view #resume .pitch-wall .sidebar .media {
  padding: 20px 0;
  border-bottom: 1px solid #e3edef;
}
.page.startup-view #resume .pitch-wall .sidebar .media:first-child {
  padding-top: 0;
}
.page.startup-view #resume .pitch-wall .sidebar .media:last-child {
  border-bottom: none;
}
.page.startup-view #resume .pitch-wall .sidebar .media .media-heading {
  color: #292B2C;
  line-height: 2;
  font-size: 20px;
  font-weight: bold;
}
.page.startup-view #resume .pitch-wall .sidebar .media .media-object {
  margin-right: 20px;
}
.page.startup-view #resume .pitch-wall .sidebar .media .meta {
  font-size: 12px;
  line-height: 16px;
}
.page.startup-view #resume .pitch-wall .sidebar .media .meta .date {
  color: #666C6F;
  font-weight: 600;
}
.page.startup-view #resume .pitch-wall .sidebar .media .stack-zone {
  position: relative;
  display: block;
}
.page.startup-view #resume .pitch-wall .sidebar .media .stack-zone .stacked {
  position: absolute;
  right: 8px;
  bottom: -12px;
}
.page.startup-view #resume .pitch-wall .sidebar .media .contact {
  display: block;
  margin: 20px 0 0 0;
  color: #666c6f;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.page.startup-view #resume .pitch-wall .sidebar .media .contact i {
  font-size: 20px;
  vertical-align: top;
}
.page.startup-view #resume .pitch-wall .sidebar .media .contact:hover {
  color: #ff6500;
  text-decoration: none;
}
.page.startup-view #resume .pitch-wall .carousel .item > * {
  margin: auto;
}
.page.startup-view #resume .pitch-wall .carousel .carousel-control.left,
.page.startup-view #resume .pitch-wall .carousel .carousel-control.right {
  background: none;
  background-image: none;
}
.page.startup-view #resume .pitch-wall .carousel .carousel-control.left {
  left: -15%;
}
.page.startup-view #resume .pitch-wall .carousel .carousel-control.right {
  right: -15%;
}
.page.startup-view #resume .sip-note {
  background: #0547fd;
  padding: 80px 0;
  text-align: center;
}
.page.startup-view #resume .sip-note .note {
  display: block;
  margin: 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 78px;
  font-weight: 700;
  color: #fafdd4;
}
.page.startup-view #resume .sip-note .evaluation {
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 640px;
}
.page.startup-view #resume .related {
  padding: 80px 0;
  text-align: center;
}
.page.startup-view #resume .related .title {
  display: block;
  margin: 0 0 70px 0;
  font-family: 'atc', sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view #resume .related .startup {
  text-align: left;
  border: none !important;
}
.page.startup-view #resume .related .startup .card-img-top {
  border-radius: 0;
}
.page.startup-view #resume .related .startup .card-img-top img {
  height: 200px;
}
.page.startup-view #resume .related .startup .card-block {
  padding: 15px 0;
}
.page.startup-view #resume .related .startup .card-block .card-title {
  font-size: 20px;
  font-weight: 500;
}
.page.startup-view #resume .related .startup .card-block .card-text {
  height: 36px !important;
  font-size: 12px !important;
}
.page.startup-view #resume .related .startup .card-block .card-link {
  font-size: 12px;
  color: #0031f7;
}
.page.startup-view #resume .related .startup .card-block .button-wrapper {
  display: block;
  margin: 10px 0 0 0;
}
.page.startup-view #resume .related .startup .card-block .button-wrapper .btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
.page.startup-view #resume .know-startup {
  background: #ff6500;
  padding: 130px 0;
  text-align: center;
}
.page.startup-view #resume .know-startup .title {
  display: block;
  margin: 0 0 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #fafdd4;
}
.page.startup-view #resume .know-startup .btn {
  padding: auto 30px;
  font-size: 18px;
  background: #fafdd4;
  color: #ff6500;
}
/*
 * Edit
 */
.page.startup-edit .autocomplete-field {
  position: relative;
}
.page.startup-edit .autocomplete-field:after {
  font-family: 'FontAwesome';
  content: '\f110';
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2em;
  color: #999;
}
