/*
 * Home
 * Startup List
 */
.page.startup-list {
  /*
   * Home
   */
  .home {
    .section-title {
      font-size: 46px;
      font-weight: 300;
      color: #0547fd;

      padding: 20px 0;
    }

    .startups-wrapper {
      display: block;
      margin: 0 auto;

      width: 100%;

      .startups-list {
        display: block;
        width: 100%;
        height: 400px;

        padding: 0 0 80px 0;
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
      }
      .startups-list .startup {
        display: inline-block;
        vertical-align: top;

        width: 400px;
        margin: 0 5px;

        &:first-child,
        &:last-child{
          opacity: 0.5 !important;
        }

        .thumbnail {
          display: block;
          width: 100%;

          border: none;
          padding: 0;
          margin: 0;

          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;

          overflow: hidden;

          img {
            width: 100%;
            height: 220px;
          }
        }

        .title {
          font-family:'atc';
          font-size:24px;
          color:#2c2c2c;
          letter-spacing:0.99px;
          text-align:left;
        }

        .tags {
          margin: 0 5px;

          color: #0547fd;
          font-weight: 400;
        }
      }
    }
  }

  /*
   * List
   */
  // Heading
  .heading {
    display: block;
    padding: 40px 0;
    position: relative;

    .result-indicator {
      font-size: 52px;
      color: #5c5c5c;

      .numb {
        font-size: 20px;
        color: #0031f7;
        vertical-align: baseline;
      }
    }

    .sort {
      position: absolute;
      top: 70px !important;
      right: 0;
    }
  }

  // Results
  .results {
    display: block;

    .startup {
      border: none !important;

      .card-img-top {
        border-radius: 0;
      }

      .card-block {
        padding: 15px 0;

        .card-title {
          font-size: 20px;
          font-weight: 500;
        }
        .card-text {
          height: 36px !important;
          font-size: 12px !important;
        }
        .card-link {
          font-size: 12px;
          color: #0031f7;
        }
        .button-wrapper {
          display: block;
          margin: 10px 0 0 0;

          .btn {
            text-transform: uppercase;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  // Bottom
  .bottom {
    padding: 10px 0 40px 0;
    text-align: center;
  }
}

/*
 * View
 */
.view-page {
  .splash {
    position: relative;

    .startup-tags {
      .tag {
        display: inline-block;
        color: #fff;
        list-style-type: none;
        margin-right: 15px;

        a {
          color: #fff;
        }
      }
    }
    .nav-tabs {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  #main {
    padding-top: 90px;
    max-width: 934px;
    position: relative;

  }

  h2 {
    font-family: 'atc';
    font-size: 50px;
    font-weight: 700;
    color: #081433;
    margin-bottom: 38px;
  }

  .intro {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 38px;
  }

}

.sidebar {

  .media-heading {
    color: #292B2C;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
  }
  .media-object {
    margin-right: 20px;
  }

  .meta {
    .date {
      color: #666C6F;
    }
  }
}

.stack-zone {
  position: relative;
  display: block;
  .stacked {
    position: absolute;
    right: 8px;
    bottom: -12px;
  }
}

.carousel {
  .item > * {
    margin: auto;
  }
  .carousel-control {
    &.left,
    &.right {
      background: none;
      background-image: none;
    }

    &.left {
      left: -15%;
    }

    &.right {
      right: -15%;
    }
  }
}

/*
 * Edit
 */
.edit-page {
  .autocomplete-field {
    position: relative;
    &:after {
      font-family: 'FontAwesome';
      content: '\f110';
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 2em;
      color: #999;
    }
  }
}