/*
 * List
 */
.list-page {

  // Heading
  .heading {
    display: block;
    padding: 40px 0;

    .result-indicator {
      font-size: 52px;
      color: #5c5c5c;

      .numb {
        font-size: 20px;
        color: #0031f7;
        vertical-align: baseline;
      }
    }
  }
}

/*
 * Edit
 */
.edit-page {
  .autocomplete-field {
    position: relative;
    &:after {
      font-family: 'FontAwesome';
      content: '\f110';
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 2em;
      color: #999;
    }
  }
}

/*
 * View
 */
.view-page {

  .splash {
    position: relative;

    .startup-tags {
      .tag {
        display: inline-block;
        color: #fff;
        list-style-type: none;
        margin-right: 15px;

        a {
          color: #fff;
        }
      }
    }
    .nav-tabs {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  #main {
    padding-top: 90px;
    max-width: 934px;
    position: relative;

  }

  h2 {
    font-family: 'atc';
    font-size: 50px;
    font-weight: 700;
    color: #081433;
    margin-bottom: 38px;
  }

  .intro {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 38px;
  }

}

.sidebar {

  .media-heading {
    color: #292B2C;
    line-height: 2;
    font-size: 20px;
    font-weight: bold;
  }
  .media-object {
    margin-right: 20px;
  }

  .meta {
    .date {
      color: #666C6F;
    }
  }
}

.stack-zone {
  position: relative;
  display: block;
  .stacked {
    position: absolute;
    right: 8px;
    bottom: -12px;
  }
}

.carousel {
  .item > * {
    margin: auto;
  }
  .carousel-control {
    &.left,
    &.right {
      background: none;
      background-image: none;
    }

    &.left {
      left: -15%;
    }

    &.right {
      right: -15%;
    }
  }
}