/*
 * Home &
 * Startup List
 */
.page.startup-list {
  /*
   * Home
   */
  /*
   * List
   */
}
.page.startup-list .home .section-title {
  font-size: 46px;
  font-weight: 300;
  color: #0547fd;
  padding: 20px 0;
}
.page.startup-list .home .startups-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.page.startup-list .home .startups-wrapper .startups-list {
  display: block;
  width: 100%;
  height: 400px;
  padding: 0 0 80px 0;
}
.page.startup-list .home .startups-wrapper .slick-prev,
.page.startup-list .home .startups-wrapper .slick-next {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 220px;
  width: 60px;
  border: none !important;
  background: rgba(255, 255, 255, 0.8);
}
.page.startup-list .home .startups-wrapper .slick-next {
  left: auto;
  right: 0;
  width: 60px;
}
.page.startup-list .home .startups-wrapper .slick-prev:after,
.page.startup-list .home .startups-wrapper .slick-next:before {
  content: ">";
  color: orange;
  font-size: 60px;
}
.page.startup-list .home .startups-wrapper .slick-prev:after {
  content: "<";
}
.page.startup-list .home .startups-wrapper .startups-list .startup {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  margin: 0 5px;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .thumbnail {
  display: block;
  width: 100%;
  height: 220px;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .thumbnail img {
  width: 100%;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .title {
  font-family: 'atc';
  font-size: 24px;
  color: #2c2c2c;
  letter-spacing: 0.99px;
  text-align: left;
}
.page.startup-list .home .startups-wrapper .startups-list .startup .tags {
  margin: 0 5px;
  color: #0547fd;
  font-weight: 400;
}
.page.startup-list .heading {
  display: block;
  padding: 40px 0;
  position: relative;
}
.page.startup-list .heading .result-indicator {
  font-size: 52px;
  color: #5c5c5c;
}
.page.startup-list .heading .result-indicator .numb {
  font-size: 20px;
  color: #0031f7;
  vertical-align: baseline;
}
.page.startup-list .heading .sort {
  position: absolute;
  top: 70px !important;
  right: 0;
}
.page.startup-list .results {
  display: block;
}
.page.startup-list .results .startup {
  border: none !important;
}
.page.startup-list .results .startup .card-img-top {
  border-radius: 0;
}
.page.startup-list .results .startup .card-block {
  padding: 15px 0;
}
.page.startup-list .results .startup .card-block .card-title {
  font-size: 20px;
  font-weight: 500;
}
.page.startup-list .results .startup .card-block .card-text {
  height: 36px !important;
  font-size: 12px !important;
}
.page.startup-list .results .startup .card-block .card-link {
  font-size: 12px;
  color: #0031f7;
}
.page.startup-list .results .startup .card-block .button-wrapper {
  display: block;
  margin: 10px 0 0 0;
}
.page.startup-list .results .startup .card-block .button-wrapper .btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
.page.startup-list .bottom {
  padding: 10px 0 40px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page.startup-list .heading .numb {
    display: block;
    margin: 10px 0 20px 0;
  }
  .page.startup-list .heading .sort {
    display: block;
    position: static;
  }
}
@media screen and (max-width: 640px) {
  .page.startups-list .home .section-title {
    font-size: 32px;
  }
  .page.startups-list .slick-prev,
  .page.startups-list .slick-next {
    display: none !important;
  }
  .page.startups-list .startup .card-img-top {
    max-height: none !important;
  }
}
/*
 * View
 */
.page.startup-view {
  /*
   * Splash
   */
  /*
   * Tab: Resume
   */
  /*
   * Tab: Product
   */
  /*
   * Tab: Market
   */
  /*
   * Tab: Startup
   */
  /*
   * Common
   */
}
.page.startup-view .splash {
  height: auto;
  position: relative;
  padding: 50px 0 0 0;
}
.page.startup-view .splash .logo {
  width: 300px;
}
.page.startup-view .splash .title {
  font-size: 48px;
  font-weight: 800;
  margin: 30px 0 0 0;
}
.page.startup-view .splash .subtitle {
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0 20px 0;
}
.page.startup-view .splash .startup-tags .tag {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
  font-size: 18px;
  color: #ffffff;
}
.page.startup-view .splash .startup-tags .tag a {
  color: #ffffff;
}
.page.startup-view .splash .actions {
  margin: 30px 0 0 0;
}
.page.startup-view .splash .actions .action {
  padding: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}
.page.startup-view .splash .actions .action .circle {
  display: block;
  margin: 0 auto 5px auto;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.startup-view .splash .actions .action i {
  display: block;
  margin: 0 0 5px 0;
  color: #FFFFFF;
  font-size: 48px;
}
.page.startup-view .splash .actions .action .count {
  display: block;
  margin: 0 0 5px 0;
  font-family: 'Arial', sans-serif;
  color: #152ae5;
  font-size: 52px;
  line-height: 48px;
  font-weight: 800;
  text-shadow: -1px -1px 0px #ffffff, 0px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 0px 0px #ffffff, 1px 0px 0px #ffffff, -1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 1px 0px #ffffff;
}
.page.startup-view .splash .actions .action .text-lock {
  position: relative;
}
.page.startup-view .splash .actions .action .text-lock span {
  text-align: center;
  position: absolute;
  display: block;
  overflow: hidden;
}
.page.startup-view .splash .actions .action:hover {
  text-decoration: none;
}
.page.startup-view .splash .nav {
  width: 100%;
  border: none;
  margin: 50px 0 0 0;
}
.page.startup-view .splash .nav li {
  vertical-align: bottom;
  background: #ff6500;
  height: 55px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  padding: 0 23px;
}
.page.startup-view .splash .nav li a {
  height: 55px;
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 4px solid transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 5px;
}
.page.startup-view .splash .nav li.unpadded a {
  padding: 8px 5px;
}
.page.startup-view .splash .nav li.alternate {
  background: #87deb0;
}
.page.startup-view .splash .nav li:hover {
  background: #FCFCFC;
}
.page.startup-view .splash .nav li:hover a {
  color: #333333;
}
.page.startup-view .splash .nav li.active {
  background: #FCFCFC;
}
.page.startup-view .splash .nav li.active a {
  color: #333333;
  border-color: #ff6500;
}
.page.startup-view #resume .intro {
  font-size: 30px;
  font-weight: lighter;
}
.page.startup-view #resume .description {
  margin: 40px 0;
}
.page.startup-view #resume .link {
  text-decoration: underline;
}
.page.startup-view #product .section {
  display: block;
  margin: 0 0 40px 0;
}
.page.startup-view #product .section .title {
  display: block;
  font-family: 'atc', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view #product .section p {
  margin: 20px 0;
}
.page.startup-view #market .section {
  display: block;
  margin: 0 0 40px 0;
}
.page.startup-view #market .section .title {
  display: block;
  font-family: 'atc', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view #market .section p {
  margin: 20px 0;
}
.page.startup-view #startup .section {
  display: block;
  margin: 0 0 40px 0;
}
.page.startup-view #startup .section .title {
  display: block;
  font-family: 'atc', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view #startup .section p {
  margin: 20px 0;
}
.page.startup-view .section-title {
  display: block;
  margin: 0 0 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view .generic {
  padding: 40px 0 0 0;
}
.page.startup-view .generic .video-container {
  margin-top: 90px;
}
.page.startup-view .cycle-slider-media {
  margin: 50px 0 0 0;
}
.page.startup-view .sidebar-wall .media {
  padding: 20px 0;
  border-bottom: 1px solid #e3edef;
}
.page.startup-view .sidebar-wall .media:first-child {
  padding-top: 0;
}
.page.startup-view .sidebar-wall .media:last-child {
  border-bottom: none;
}
.page.startup-view .sidebar-wall .media .media-heading {
  color: #292B2C;
  line-height: 2;
  font-size: 20px;
  font-weight: bold;
}
.page.startup-view .sidebar-wall .media .media-object {
  margin-right: 20px;
}
.page.startup-view .sidebar-wall .media .meta {
  font-size: 12px;
  line-height: 16px;
}
.page.startup-view .sidebar-wall .media .meta .date {
  color: #666C6F;
  font-weight: 600;
}
.page.startup-view .sidebar-wall .media .stack-zone {
  position: relative;
  display: block;
}
.page.startup-view .sidebar-wall .media .stack-zone .stacked {
  position: absolute;
  right: 8px;
  bottom: -12px;
}
.page.startup-view .sidebar-wall .media .contact {
  display: block;
  margin: 20px 0 0 0;
  color: #666c6f;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.page.startup-view .sidebar-wall .media .contact i {
  font-size: 20px;
  vertical-align: top;
}
.page.startup-view .sidebar-wall .media .contact:hover {
  color: #ff6500;
  text-decoration: none;
}
.page.startup-view .sip-note {
  background: #0547fd;
  padding: 80px 0;
  text-align: center;
}
.page.startup-view .sip-note .note {
  display: block;
  margin: 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 78px;
  font-weight: 700;
  color: #fafdd4;
}
.page.startup-view .sip-note .evaluation {
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 640px;
}
.page.startup-view .map {
  display: block;
  width: 100%;
  height: 500px;
}
.page.startup-view .map img[src="https://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"] {
  display: none;
}
.page.startup-view .map .gm-style div {
  overflow: visible !important;
}
.page.startup-view .map .startup-map-infowindow .picture {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: -40px;
  text-align: center;
}
.page.startup-view .map .startup-map-infowindow .picture img {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 5px solid #ffffff;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.startup-view .map .startup-map-infowindow .inner {
  text-align: center;
  padding-top: 70px;
}
.page.startup-view .map .startup-map-infowindow .inner .name {
  display: block;
  margin: 0 0 3px 0;
  font-family: 'atc', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view .map .startup-map-infowindow .inner .job {
  display: block;
  margin: 0 0 10px 0;
  font-size: 12px;
}
.page.startup-view .map .startup-map-infowindow .inner .email {
  display: block;
  margin: 0 0 3px 0;
  font-size: 12px;
  color: #D9831F;
  text-decoration: underline;
}
.page.startup-view .related {
  padding: 80px 0;
  text-align: center;
}
.page.startup-view .related .title {
  display: block;
  margin: 0 0 70px 0;
  font-family: 'atc', sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #081433;
}
.page.startup-view .related .startup {
  text-align: left;
  border: none !important;
}
.page.startup-view .related .startup .card-img-top {
  border-radius: 0;
}
.page.startup-view .related .startup .card-img-top img {
  height: 200px;
}
.page.startup-view .related .startup .card-block {
  padding: 15px 0;
}
.page.startup-view .related .startup .card-block .card-title {
  font-size: 20px;
  font-weight: 500;
}
.page.startup-view .related .startup .card-block .card-text {
  height: 36px !important;
  font-size: 12px !important;
}
.page.startup-view .related .startup .card-block .card-link {
  font-size: 12px;
  color: #0031f7;
}
.page.startup-view .related .startup .card-block .button-wrapper {
  display: block;
  margin: 10px 0 0 0;
}
.page.startup-view .related .startup .card-block .button-wrapper .btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
.page.startup-view .know-startup {
  background: #ff6500;
  padding: 130px 0;
  text-align: center;
}
.page.startup-view .know-startup .title {
  display: block;
  margin: 0 0 30px 0;
  font-family: 'atc', sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #fafdd4;
}
.page.startup-view .know-startup .btn {
  padding: auto 30px;
  font-size: 18px;
  background: #fafdd4;
  color: #ff6500;
}
@media screen and (max-width: 768px) {
  .section-title,
  .related .title,
  .know-startup .title {
    font-size: 36px !important;
    line-height: 36px !important;
  }
  .page.startup-view .nav li {
    display: block;
    width: 100%;
    margin: 0 !important;
  }
  .page.startup-view .nav li a {
    border: none !important;
  }
}
/*
 * Edit
 */
.page.startup-edit .nav,
.page.edit-page .nav {
  width: 100%;
  border: none;
  margin: 60px 0 0 0;
  border-bottom: 1px solid #d9d9de;
}
.page.startup-edit .nav li,
.page.edit-page .nav li {
  vertical-align: bottom;
  cursor: pointer;
  margin: 0 25px;
}
.page.startup-edit .nav li a,
.page.edit-page .nav li a {
  background: transparent;
  color: #081433;
  border: none;
  border-bottom: 4px solid transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 5px;
}
.page.startup-edit .nav li a .step-number,
.page.edit-page .nav li a .step-number {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 15px auto;
  padding: 5px 0;
  border: 1px solid #0547fd;
  color: #0547fd;
  font-size: 24px;
  font-weight: 600;
}
.page.startup-edit .nav li:hover,
.page.edit-page .nav li:hover {
  background: #FCFCFC;
}
.page.startup-edit .nav li:hover a,
.page.edit-page .nav li:hover a {
  color: #333333;
}
.page.startup-edit .nav li:hover a .step-number,
.page.edit-page .nav li:hover a .step-number {
  color: #FFFFFF;
  background: #0547fd;
}
.page.startup-edit .nav li.active,
.page.edit-page .nav li.active {
  background: #FCFCFC;
}
.page.startup-edit .nav li.active a,
.page.edit-page .nav li.active a {
  color: #333333;
  border-color: #ff6500;
}
.page.startup-edit .nav li.active a .step-number,
.page.edit-page .nav li.active a .step-number {
  color: #FFFFFF;
  background: #0547fd;
}
.page.startup-edit .autocomplete-field,
.page.edit-page .autocomplete-field {
  position: relative;
}
.page.startup-edit .autocomplete-field:after,
.page.edit-page .autocomplete-field:after {
  font-family: 'FontAwesome';
  content: '\f110';
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2em;
  color: #999;
}
@media screen and (max-width: 768px) {
  .page.edit-page .nav,
  .page.startup-edit .nav {
    text-align: left;
  }
  .page.edit-page .nav li,
  .page.startup-edit .nav li {
    width: 50%;
    margin: 0 -5px 20px 0;
    text-align: center;
  }
  .page.edit-page .nav li:last-child,
  .page.startup-edit .nav li:last-child {
    margin-bottom: 0;
  }
}
