/*
 * Home &
 * Startup List
 */
.page.startup-list {
  /*
   * Home
   */
  .home {
    .section-title {
      font-size: 46px;
      font-weight: 300;
      color: #0547fd;

      padding: 20px 0;
    }

    .startups-wrapper {
      display: block;
      margin: 0 auto;

      width: 100%;
      max-width: 1280px;

      .startups-list {
        display: block;
        width: 100%;
        height: 400px;

        padding: 0 0 80px 0;
      }

      // pagination
      .slick-prev,
      .slick-next {
        position: absolute;
        z-index: 10;

        top: 0;
        left: 0;

        height: 220px;
        width: 75px;

        border: none !important;
        background: rgba(255, 255, 255, 0.8);
      }
      .slick-next {
        left: auto;
        right: 0;
      }
      .slick-prev:after,
      .slick-next:before {
        font-family: 'icomoon';
        content: "\e90d";

        text-align: center;
        color: orange;
        font-size: 60px;
      }
      .slick-prev:after {
        font-family: 'icomoon';
        content: "\e90c";
      }

      // element
      .startups-list .startup {
        display: inline-block;
        vertical-align: top;

        width: 320px;
        margin: 0 5px;

        .thumbnail {
          display: block;
          width: 100%;
          height: 220px;

          border: none;
          padding: 0;
          margin: 0;

          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;

          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .title {
          font-family:'atc';
          font-size:24px;
          color:#2c2c2c;
          letter-spacing:0.99px;
          text-align:left;
        }

        .tags {
          margin: 0 5px;

          color: #0547fd;
          font-weight: 400;
        }
      }
    }
  }

  /*
   * List
   */
  // Heading
  .heading {
    display: block;
    padding: 40px 0;
    position: relative;

    .result-indicator {
      font-size: 52px;
      color: #5c5c5c;

      .numb {
        font-size: 20px;
        color: #0031f7;
        vertical-align: baseline;
      }
    }

    .sort {
      position: absolute;
      top: 70px !important;
      right: 0;
    }
  }

  // Results
  .results {
    display: block;

    .startup {
      border: none !important;

      .card-img-top {
        border-radius: 0;
      }

      .card-block {
        padding: 15px 0;

        .card-title {
          font-size: 20px;
          font-weight: 500;
        }
        .card-text {
          height: 36px !important;
          font-size: 12px !important;
        }
        .card-link {
          font-size: 12px;
          color: #0031f7;
        }
        .button-wrapper {
          display: block;
          margin: 10px 0 0 0;

          .btn {
            text-transform: uppercase;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  // Bottom
  .bottom {
    padding: 10px 0 40px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .page.startup-list {
    .heading {
      .numb {
        display: block;
        margin: 10px 0 20px 0;
      }
      .sort {
        display: block;
        position: static;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .page.startups-list {
    .home {
      .section-title {
        font-size: 32px;
      }
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .startup {
      .card-img-top {
        max-height: none !important;
      }
    }
  }
}

/*
 * View
 */
.page.startup-view {
  /*
   * Splash
   */
  .splash {
    height: auto;
    position: relative;

    padding: 50px 0 0 0;

    .logo {
      width: 300px;
    }

    .title {
      font-size: 48px;
      font-weight: 800;

      margin: 30px 0 0 0;
    }
    .subtitle {
      font-size: 24px;
      font-weight: 500;

      margin: 15px 0 20px 0;
    }

    .startup-tags {
      .tag {
        display: inline-block;
        list-style-type: none;
        margin-right: 15px;

        font-size: 18px;
        color: #ffffff;

        a {
          color: #ffffff;
        }
      }
    }

    .actions {
      margin: 30px 0 0 0;

      .action {
        padding: 30px;
        display: inline-block;

        cursor: pointer;

        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
        text-transform: uppercase;

        .circle {
          display: block;
          margin: 0 auto 5px auto;
          padding: 10px 0;

          font-size: 14px;
          font-weight: 500;

          width: 45px;
          height: 45px;

          border: 3px solid #ffffff;

          -webkit-border-radius: 999px;
          -moz-border-radius: 999px;
          border-radius: 999px;
        }

        i {
          display: block;
          margin: 0 0 5px 0;

          color: #FFFFFF;
          font-size: 48px;
        }
        .count {
          display: block;
          margin: 0 0 5px 0;

          font-family: 'Arial', sans-serif;
          color: #152ae5;
          font-size: 52px;
          line-height: 48px;
          font-weight: 800;

          text-shadow:
                    -1px -1px 0px #ffffff,
                    0px -1px 0px #ffffff,
                    1px -1px 0px #ffffff,
                  -1px  0px 0px #ffffff,
                  1px  0px 0px #ffffff,
                  -1px  1px 0px #ffffff,
                  0px  1px 0px #ffffff,
                  1px  1px 0px #ffffff;
        }
        
        .text-lock {
          position: relative;

          span {
            text-align: center;
            position: absolute;

            display: block;
            overflow: hidden;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .nav {
      width: 100%;
      border: none;
      margin: 50px 0 0 0;

      li {
        vertical-align: bottom;

        background: #ff6500;
        height: 55px;
        cursor: pointer;

        margin: 0 10px 0 10px;
        padding: 0 23px;

        a {
          height: 55px;
          background: transparent;
          color: #ffffff;

          border: none;
          border-bottom: 4px solid transparent;

          font-size: 14px;
          font-weight: 500;
          padding: 15px 5px;
        }

        // custom rules
        &.unpadded a {
          padding: 8px 5px;
        }
        &.alternate {
          background: #87deb0;
        }

        &:hover {
          background: #FCFCFC;

          a {
            color: #333333;
          }
        }
        &.active {
          background: #FCFCFC;

          a {
            color: #333333;
            border-color: #ff6500;
          }
        }
      }
    }
  }

  /*
   * Tab: Resume
   */
  #resume {
    .intro {
      font-size: 30px;
      font-weight: lighter;
    }

    .description {
      margin: 40px 0;
    }

    .link {
      text-decoration: underline;
    }
  }

  /*
   * Tab: Product
   */
  #product {
    .section {
      display: block;
      margin: 0 0 40px 0;

      .title {
        display: block;

        font-family: 'atc', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #081433;

        &.upper {
          font-size: 48px;
          font-weight: 300;
        }
      }

      p {
        margin: 25px 0;
      }
    }
  }

  /*
   * Tab: Market
   */
  #market {
    .left {
      .section {
        display: block;
        margin: 0 0 40px 0;

        .title {
          display: block;

          font-family: 'atc', sans-serif;
          font-size: 18px;
          font-weight: 100;
          color: #081433;
        }

        p {
          font-size: 38px;
          font-weight: 800;

          margin: 0 0 40px 0;
        }
      }
    }

    .right {
      .section {
        display: block;
        margin: 0 0 40px 0;

        .title {
          display: block;

          font-family: 'atc', sans-serif;
          font-size: 18px;
          font-weight: 100;
          color: #081433;
        }

        p {
          margin: 20px 0;
        }
      }
    }
  }

  /*
   * Tab: Startup
   */
  #startup {
    .section {
      display: block;
      margin: 0 0 40px 0;

      .title {
        display: block;

        font-family: 'atc', sans-serif;
        font-size: 28px;
        font-weight: 700;
        color: #081433;
      }

      p {
        margin: 20px 0;
      }
    }
  }

  /*
   * Common
   */
  .section-title {
    display: block;
    margin: 0 0 30px 0;

    font-family: 'atc', sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #081433;
  }

  // generic
  .generic {
    padding: 40px 0 0 0;

    .video-container {
      margin-top: 90px;
    }
  }

  // slider
  .cycle-slider-media {
    margin: 50px 0 0 0;
  }

  // wall
  .sidebar-wall {
    .media {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }

      padding: 20px 0;
      border-bottom: 1px solid #e3edef;

      .media-heading {
        color: #292B2C;
        line-height: 2;
        font-size: 20px;
        font-weight: bold;
      }
      .media-object {
        margin-right: 20px;
      }

      .meta {
        font-size: 12px;
        line-height: 16px;

        .date {
          color: #666C6F;
          font-weight: 600;
        }
      }

      .stack-zone {
        position: relative;
        display: block;
        .stacked {
          position: absolute;
          right: 8px;
          bottom: -12px;
        }
      }

      .contact {
        display: block;
        margin: 20px 0 0 0;

        color: #666c6f;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;

        i {
          font-size: 20px;
          vertical-align: top;
        }

        &:hover {
          color: #ff6500;
          text-decoration: none;
        }
      }
    }
  }

  // sip-note
  .sip-note {
    background: #0547fd;
    padding: 80px 0;
    text-align: center;

    .note {
      display: block;
      margin: 30px 0;

      font-family: 'atc', sans-serif;
      font-size: 78px;
      font-weight: 700;
      color: #fafdd4;
    }

    .evaluation {
      color: #FFFFFF;

      margin: 0 auto;
      max-width: 640px;
    }
  }

  // map
  .map {
    display: block;
    width: 100%;
    height: 500px;

    // infobubble fixes
    img[src="https://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"] {
      display: none;
    }
    .gm-style div {
      overflow:visible !important;
    }

    .startup-map-infowindow {
      .picture {
        display: block;
        width: 100%;

        position: absolute;
        left: 0;

        margin-top: -40px;
        text-align: center;

        img {
          width: 90px;
          height: 90px;

          display: inline-block;
          border: 5px solid #ffffff;

          -webkit-border-radius: 999px;
          -moz-border-radius: 999px;
          border-radius: 999px;
        }
      }

      .inner {
        text-align: center;
        padding-top: 70px;

        .name {
          display: block;
          margin: 0 0 3px 0;

          font-family: 'atc', sans-serif;
          font-size: 16px;
          font-weight: 700;
          color: #081433;
        }

        .job {
          display: block;
          margin: 0 0 10px 0;

          font-size: 12px;
        }

        .email {
          display: block;
          margin: 0 0 3px 0;

          font-size: 12px;
          color: #D9831F;
          text-decoration: underline;
        }
      }
    }
  }

  // related
  .related {
    padding: 80px 0;
    text-align: center;

    .title {
      display: block;
      margin: 0 0 70px 0;

      font-family: 'atc', sans-serif;
      font-size: 54px;
      font-weight: 700;
      color: #081433;
    }

    .startup {
      text-align: left;
      border: none !important;

      .card-img-top {
        border-radius: 0;

        img {
          height: 200px;
        }
      }

      .card-block {
        padding: 15px 0;

        .card-title {
          font-size: 20px;
          font-weight: 500;
        }
        .card-text {
          height: 36px !important;
          font-size: 12px !important;
        }
        .card-link {
          font-size: 12px;
          color: #0031f7;
        }
        .button-wrapper {
          display: block;
          margin: 10px 0 0 0;

          .btn {
            text-transform: uppercase;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  // know-startup
  .know-startup {
    background: #ff6500;
    padding: 130px 0;
    text-align: center;

    .title {
      display: block;
      margin: 0 0 30px 0;

      font-family: 'atc', sans-serif;
      font-size: 54px;
      font-weight: 700;
      color: #fafdd4;
    }

    .btn {
      padding: auto 30px;
      font-size: 18px;

      background: #fafdd4;
      color: #ff6500;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-title,
  .related .title,
  .know-startup .title {
    font-size: 36px !important;
    line-height: 36px !important;
  }

  .page.startup-view {
    .nav li {
      display: block;
      width: 100%;

      margin: 0 !important;

      a {
        border: none !important;
      }
    }
  }
}

/*
 * Edit
 */
.page.startup-edit,
.page.edit-page {
  .nav {
    width: 100%;
    border: none;
    margin: 60px 0 0 0;

    border-bottom: 1px solid #d9d9de;

    li {
      vertical-align: bottom;
      cursor: pointer;

      margin: 0 25px;

      a {
        background: transparent;
        color: #081433;

        border: none;
        border-bottom: 4px solid transparent;

        font-size: 14px;
        font-weight: 500;
        padding: 15px 5px;

        .step-number {
          display: block;

          width: 50px;
          height: 50px;

          margin: 0 auto 15px auto;
          padding: 5px 0;
          border: 1px solid #0547fd;

          color: #0547fd;
          font-size: 24px;
          font-weight: 600;
        }
      }

      &:hover {
        background: #FCFCFC;

        a {
          color: #333333;

          .step-number {
            color: #FFFFFF;
            background: #0547fd;
          }
        }
      }
      &.active {
        background: #FCFCFC;

        a {
          color: #333333;
          border-color: #ff6500;

          .step-number {
            color: #FFFFFF;
            background: #0547fd;
          }
        }
      }
    }
  }

  .autocomplete-field {
    position: relative;
    &:after {
      font-family: 'FontAwesome';
      content: '\f110';
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 2em;
      color: #999;
    }
  }
}

@media screen and (max-width: 768px) {
  .page.edit-page,
  .page.startup-edit {
    .nav {
      text-align: left;

      li {
        width: 50%;
        margin: 0 -5px 20px 0;

        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}