@font-face {
  font-family: 'atc';
  src: url("fonts/ATCOverlook-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'atc';
  src: url("fonts/ATCOverlook-Heavy.ttf");
  font-weight: 800;
  font-style: normal;
}
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.ng-enter {
  animation: fadeIn 0.3s both ease-in;
  z-index: 8888;
}
.ng-leave {
  animation: fadeOut 0.35s both ease-in;
  z-index: 9999;
}
.splash {
  padding: 9em 0 2em;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}
.splash.small {
  height: 330px;
}
.splash.medium {
  height: 640px;
}
.splash h1 {
  font-weight: 700;
  color: #FAFDD4;
}
.splash h2 {
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
  width: 100%;
  margin: 50px auto;
  line-height: 1.5;
}
.splash .home-form {
  max-width: 602px;
  margin: 0 auto;
}
.splash .home-form .input-zone {
  width: 100%;
}
.splash .home-form .input-zone input[type=text] {
  margin: 30px 0;
  text-align: center;
  font-size: 2em;
}
.splash .home-form .input-zone button.submit-search,
.splash .home-form .input-zone button.submit-search:focus {
  margin-top: 15px;
  padding: 10px 45px;
  outline: none;
  background-color: #ff6500;
}
section.main {
  margin-top: 84px;
}
#startup-form .form-body {
  max-width: 600px;
  margin: 15px auto;
}
#startup-form .form-body p {
  font-size: 30px;
  font-weight: 200;
  margin: 90px 0;
}
#startup-form .form-body .form-control {
  margin-bottom: 52px;
  font-size: 20px;
}
#startup-form .form-body label {
  font-weight: bold;
  font-size: 20px;
  display: block;
  color: #292B2C;
}
#startup-form .form-body sub {
  font-size: 12px;
  color: #666C6F;
}
#startup-form .form-body .checkbox-label {
  font-size: 12px;
  font-weight: 400;
}
#startup-form .form-body textarea {
  min-height: 190px;
  padding: 20px;
  font-weight: 18px;
}
body.view-page .startup-tags .tag {
  display: inline-block;
}
body.view-page .startup-tags .tag a {
  color: #FAFDD4;
}
body.view-page .splash {
  position: relative;
}
body.view-page .splash .nav-tabs {
  position: absolute;
  bottom: 0;
  width: 100%;
}
body.view-page section#main {
  max-width: 934px;
}
body.view-page section#main .tab-content {
  margin: 15px auto;
}
section#sip-note {
  background-color: #0031f7;
  height: 548px;
  padding: 15px;
  text-align: center;
}
section#map-section {
  height: 525px;
  text-align: center;
  position: relative;
}
section#map-section #startup-map {
  width: 100%;
  height: 100%;
}
section#map-section .address {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -106px;
}
.form-group {
  overflow: visible;
}
.modal-content .form-group {
  overflow: scroll;
}
.ng-invalid:not(.ng-pristine) {
  border-color: #D9831F;
}
.ng-valid:not(.ng-pristine) {
  border-color: #469408;
}
.btn:focus {
  outline: none;
}
.btnbutton .btna i {
  vertical-align: middle;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #ff6500;
  border-color: #ff6500;
}
.selectize-input {
  min-height: 58.5px;
  padding: 8px 12px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}
.selectize-control.multi .selectize-input > div {
  padding: 6px;
  background: #0031f7;
  color: white;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 10px 12px 2px;
}
.dropzone {
  border: 3px dotted #0031f7;
  padding: 10px;
}
.dropzone .dz-default.dz-message {
  background: none;
  background-image: none;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-top: -61.5px;
  top: 50%;
  left: 0;
  text-align: center;
}
.dropzone .dz-default.dz-message span {
  display: block;
}
.nav > li > a.bg-green {
  background-color: #87DEB0;
}
.card-img-top {
  max-height: 200px;
  min-height: 200px;
  height: auto;
  overflow: hidden;
}
.card-img-top img {
  width: 100%;
  height: auto;
}
.list-page .card {
  height: 420px;
}
.list-page .card .card-block {
  word-break: break-word;
}
