/*
 * Register form
 */
.page.user-registration {
  color: #ffffff;
  text-align: center;
  background-image: url(../images/background-big.jpg);
  background-size: cover;
}
.page.user-registration .left {
  padding: 40px 0;
  text-align: left;
}
.page.user-registration .left .title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}
.page.user-registration .left p {
  display: block;
  margin: 30px 0 0 0;
  max-width: 280px;
  font-size: 22px;
  line-height: 32px;
}
.page.user-registration .right {
  padding: 40px 0;
  text-align: left;
}
.page.user-registration .right label {
  font-size: 16px;
  font-weight: 700;
}
.page.user-registration .right .help-block {
  color: #ffffff !important;
}
.page.user-registration .right .form-actions {
  margin: 10px 0 0 0;
}
/*
 * Profile
 */
.page.user-profile .splash {
  height: auto;
  padding: 0;
  position: relative;
}
.page.user-profile .splash .container {
  height: 100%;
  position: relative;
}
.page.user-profile .splash .user .avatar {
  position: absolute;
  left: 0;
  bottom: -65px;
  border: 10px solid #FCFCFC;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.user-profile .splash .user .avatar img.picture {
  width: 230px;
  height: 230px;
  position: relative;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.user-profile .splash .user .avatar:hover .overlay {
  visibility: visible;
}
.page.user-profile .splash .user .avatar .overlay {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 230px;
  height: 230px;
  padding: 110px 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: rgba(0, 49, 247, 0.7);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.page.user-profile .splash .user .avatar img.status {
  display: block;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  pointer-events: none;
}
.page.user-profile .splash .user .data {
  display: block;
  text-align: left;
  margin: 140px 0 30px 280px;
}
.page.user-profile .splash .user .data .name {
  font-size: 42px;
  font-weight: 500;
}
.page.user-profile .splash .user .actions {
  position: absolute;
  right: 0;
  bottom: 30px;
}
.page.user-profile .starredProjects .heading {
  display: block;
  padding: 80px 0 20px 0;
  position: relative;
}
.page.user-profile .starredProjects .heading .title {
  font-family: 'atc', sans-serif;
  font-size: 58px;
  font-weight: 800;
  color: #333333;
}
.page.user-profile .starredProjects .heading .sort {
  position: absolute;
  bottom: 20px !important;
  right: 0;
}
.page.user-profile .starredProjects .results {
  display: block;
}
.page.user-profile .starredProjects .results .startup {
  border: none !important;
}
.page.user-profile .starredProjects .results .startup .card-img-top {
  border-radius: 0;
}
.page.user-profile .starredProjects .results .startup .card-block {
  padding: 15px 0;
}
.page.user-profile .starredProjects .results .startup .card-block .card-title {
  font-size: 20px;
  font-weight: 500;
}
.page.user-profile .starredProjects .results .startup .card-block .card-text {
  height: 36px !important;
  font-size: 12px !important;
}
.page.user-profile .starredProjects .results .startup .card-block .card-link {
  font-size: 12px;
  color: #0031f7;
}
.page.user-profile .starredProjects .results .startup .card-block .button-wrapper {
  display: block;
  margin: 10px 0 0 0;
}
.page.user-profile .starredProjects .results .startup .card-block .button-wrapper .btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .page.user-profile .user .avatar {
    display: inline-block;
    margin: 20px 0 0 0;
    position: relative !important;
    bottom: auto !important;
  }
  .page.user-profile .user .data {
    display: block;
    text-align: center !important;
    position: static !important;
    margin: 20px 0 !important;
  }
  .page.user-profile .user .actions {
    position: static !important;
    margin: 20px 0;
  }
  .page.user-profile .starredProjects .heading .title {
    font-size: 32px;
  }
  .page.user-profile .starredProjects .heading .sort {
    display: block;
    margin: 15px 0;
    position: static;
  }
  .page.user-profile .startup .card-img-top {
    max-height: none !important;
  }
  .page.user-registration .left,
  .page.user-registration .right {
    padding: 20px 0;
  }
}
