<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-6">
            <!-- left -->
            <div class="left">
                <h1 class="title">
                    Réinitialiser mon mot de passe
                </h1>

                <p>
                    Accédez à la base de données communes des startups rencontrées par la Poste.
                    <br/>
                    <i class="fa fa-thumbs-up fa-3x text-success" ng-show="accountCreated"></i>
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <!-- right -->
            <div class="right clearfix">
                <form name="form" ng-submit="resetPassword()" role="form">
                    <div class="row">
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Mouveau mot de passe <span class="text-danger">*</span></label>
                            <sub>(minimum 8 caractères)</sub>
                            <input type="password" name="password" id="password" class="form-control"
                                   ng-model="user.password"
                                   ng-minlength="8"
                                   required/>
                            <span ng-show="user.password.$dirty && user.password.$error.required" class="help-block">Le mot de passe est obligatoire (minimum 8 caractères)</span>
                        </div>
                        <div class="form-group  col-xs-12"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Confirmer le mot de passe <span class="text-danger">*</span></label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                   ng-model="user.confirmPassword"
                                   ng-minlength="8"
                                   required/>
                            <span ng-show="user.confirmPassword.$dirty && user.confirmPassword.$error.required" class="help-block">Le mot de passe est obligatoire (minimum 8 caractères)</span>
                        </div>

                        <div class="form-group form-actions col-xs-12">
                            <img ng-if="dataLoading"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary pull-right">
                                Reinitialiser
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>