<section class="splash small">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
                <form id="home-form" class="home-form" action="">
                    <h1>SOUMETTRE UNE START-UP</h1>

                </form>
                <div class="row">

                </div>
            </div>
        </div>

    </div>
</section>
<section id="main" class="container">

<div class="row">
    <form id="startup-form" class="startup-form" action="">
        <div class="col-sm-12">
            <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#resume" aria-controls="home" role="tab"
                                                          data-toggle="tab">1. Résumé</a></li>
                <li role="presentation"><a data-target="#marche" aria-controls="marche" role="tab" data-toggle="tab">2.
                    Marché</a></li>
                <li role="presentation"><a data-target="#produit" aria-controls="produit" role="tab" data-toggle="tab">3.
                    Le produit</a></li>
                <li role="presentation"><a data-target="#documents" aria-controls="documents" role="tab" data-toggle="tab">5.
                    Documents</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="resume">
                    <div class="form-body form-horizontal">
                        <p>Aucun des champs n’est obligatoire. Cependant, nous vous recommandons d’en remplir le
                            maximum afin de proposer la fiche la plus complète.


                        </p>

                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Nom de la startup</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Prénom du contact</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Nom du contact</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-5">
                                <label for="">E-mail du contact</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/></div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Téléphone du contact</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/></div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Url du site</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" type="text"/></div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-5"><label for="">Origine de la candidature</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <label class="checkbox-label" for=""><input class="" type="checkbox"/> Hébergé par un
                                    incubateur</label>
                                <label class="checkbox-label" for=""><input class="" type="checkbox"/> Recommandé par un
                                    contact du groupe La Poste</label>
                                <label class="checkbox-label" for=""><input class="" type="checkbox"/> Start'inPost nous
                                    a été recommandé par quelqu'un</label>
                                <label class="checkbox-label" for=""><input class="" type="checkbox"/>
                                    Candidature</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <label for="">Résumé en 140 caractères</label>
                                <sub>Lorem upsum parabelmmu ista blah blah</sub>
                            </div>
                            <div class="col-md-7">
                                <textarea class="form-control">Vous déménagez ? Souscrivez en un coup de fil tous vos contrats d'électricité, gaz, box & assurance. 20 min max. Zéro papier. 100% gratuit.</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="marche">...</div>
                <div role="tabpanel" class="tab-pane fade " id="produit">...</div>
                <div role="tabpanel" class="tab-pane fade " id="documents">...</div>
            </div>
        </div>

    </form>

</div>
</section>
